<header class="page-header">
    <h2>Выбор услуг</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Выбор услуг</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<!--
<section class="panel panel-primary">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>
        <h2 class="panel-title">Реализация услуг</h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed mb-none customize services-inp">
                <thead>
                    <tr>
                        <th>Мастер</th>
                        <th>Работа</th>
                        <th>Цена</th>
                        <th>% Мастера</th>
                        <th>% Ад-ра</th>
                        <th>Комментарий</th>
                    </tr>
                </thead>
                <tbody id="js-services-container">
                    <tr>
                        <td>
                            <select name="master" class="form-control">
                                <option value="0" selected disabled>...</option>
                                {{#each masters}}
                                    <option value="{{this.id}}">{{this.first_name}} {{this.last_name}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="Выберите услугу из списка" name="service" id="" class="form-control js-select2-init">
                                <option></option>
                                {{#each services}}
                                    <option value="{{this.id}}">{{this.title}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td>
                            <input name="price" type="number" class="form-control">
                        </td>
                        <td>
                            <input data-default="45" name="percent_master" max="100" type="number" class="form-control"
                                value="45">
                        </td>
                        <td>
                            <input data-default="10" name="percent_admin" max="100" type="number" class="form-control"
                                value="10">
                        </td>
                        <td>
                            <input name="comment" type="text" class="form-control">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="submit-select">
            <button id="js-sale-service-add" type="button" class="mb-xs mt-xs btn btn-success">
                <i class="fa fa-check"></i>
                Провести услугу
            </button>
        </div>
    </div>
</section>
-->
<section class=".col-md-12 ">
    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block">ПРОКАТ АВТО С ВОДИТЕЛЕМ</button>
    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block">ПРОКАТ АВТО БЕЗ ВОДИТЕЛЯ</button>
    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block">КВАРТИРЫ</button>
    <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block">МУЗы</button>
<!--
    <div class="panel-body">
        <a class="modal-with-form btn btn-default" href="#modalForm1">Open Form</a>

        <div id="modalForm1" class="modal-block modal-block-primary mfp-hide">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Заявка на авто с водителем</h2>
                </header>
                <div class="panel-body">
                    <form id="demo-form" class="form-horizontal mb-lg" novalidate="novalidate">
                        <div class="form-group mt-lg">
                            <label class="col-sm-3 control-label">Заказчик</label>
                            <div class="col-sm-9">
                                <select name="master" class="form-control">
                                    <option value="0" selected disabled>Выберете заказчика</option>
                                    {{#each masters}}
                                        <option value="{{this.id}}">{{this.first_name}} {{this.last_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Пассажир</label>
                            <div class="col-sm-9">
                                <input type="email" name="email" class="form-control" placeholder="Выберете пассажира" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Телефон пассажира</label>
                            <div class="col-sm-9">
                                <input type="tel" name="email" class="form-control" placeholder="Телефон пассажира" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Водитель</label>
                            <div class="col-sm-9">
                                <input type="url" name="url" class="form-control" placeholder="Выберете водителя">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Авто</label>
                            <div class="col-sm-9">
                                <input type="url" name="url" class="form-control" placeholder="Выберете авто">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Класс авто</label>
                            <div class="col-sm-9">
                                <input type="url" name="url" class="form-control" placeholder="Выберете класс авто">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Маршрут</label>
                            <div class="col-sm-9">
                                <input type="url" name="url" class="form-control" placeholder="Type an URL...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Цена</label>
                            <div class="col-sm-9">
                                <input type="url" name="url" class="form-control" placeholder="Type an URL...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Выбор оплаты</label>
                            <div class="col-sm-9">
                                <input type="url" name="url" class="form-control" placeholder="Type an URL...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Доп. услуги</label>
                            <div class="col-sm-9">
                                <input type="url" name="url" class="form-control" placeholder="Type an URL...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Комментарий</label>
                            <div class="col-sm-9">
                                <input type="url" name="url" class="form-control" placeholder="Type an URL...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Общая сумма</label>
                            <input type="url" name="url" class="form-control" placeholder="Type an URL...">
                        </div>
                    </form>
                    
                </div>
                
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-success modal-confirm">Принять</button>
                            <button class="btn btn-primary">Изменить</button>
                            <button class="btn btn-danger modal-dismiss">Завершить</button>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</section>
-->