<header class="page-header">
    <h2>Счета</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Счета</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <h2 class="panel-title">Документы выставленных счетов</h2>
    </header>
    <div class="panel-body">
        <button href="#create-paying-document" type="button"
            class="mb-xs mt-xs mr-xs btn btn-sm btn-default modal-with-form">
            <i class="fa fa-plus"></i> Выставить счет
        </button>
        <div class="zag">
            <h1>заглушка</h1>
        </div>
        <div class="table-responsive">
            <table id="js-nomenclature-products-table"
                class="display table table-bordered table-striped table-condensed mb-none customize"
                style="width:100%; display: none">
                <thead>
                    <tr>
                        <th>Дата создания</th>
                        <th>Номер</th>
                        <th>Сумма</th>
                        <th>Остаток</th>
                        <th>Заказчик</th>
                        <th>Авто/квартиры</th>
                        <th>Статус</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each invoices}}
                        <tr style="{{ifTrue isClosed 'background-color: #92f392' ''}}">
                            <td style="background-color: inherit">{{toIsoString created 'DD.MM.YYYY'}}</td>
                            <td>{{id}}</td>
                            <td>{{sum}}</td>
                            <td>{{saldo}}</td>
                            <td>{{customer_name}}</td>
                            <td>{{desc}}</td>
                            <td>{{status}}</td>
                            <td>
                                <a href="/invoices/{{id}}" target="_blank">Подробнее</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Дата создания</th>
                        <th>Номер</th>
                        <th>Сумма</th>
                        <th>Остаток</th>
                        <th>Заказчик</th>
                        <th>Авто/квартиры</th>
                        <th>Статус</th>
                        <th>Подробнее</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<!-- Модалки-->

<div id="create-paying-document" class="modal-block modal-block-primary mfp-hide" style="max-width: 700px;">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Выставить счет</h2>
        </header>
        <div class="panel-body">
            <form id="js-invoices-add-form" action="/api/invoices/add" class="form-horizontal mb-lg"
                novalidate="novalidate">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Основание</label>
                    <div class="col-sm-9">
                        <select name="code" style="width: 100%" name="base_id" id="js-invoices-base-select">
                            <option></option>
                            {{#each groupDocuments}}
                                <optgroup label="{{this.label}}">
                                    {{#each documents}}
                                        <option value="{{code}}">{{code}}</option>
                                    {{/each}}
                                </optgroup>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Общая сумма</label>
                    <div class="col-sm-9">
                        <input name="sum" type="number" class="form-control" placeholder="Введите сумму" required>
                    </div>
                </div>

                <div class="row">
                    <div class="row">
                        <div class="col-md-11 text-right">
                            <button class="btn btn-success">Выставить</button>
                            <button class="btn btn-default modal-dismiss">Отмена</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<script src="/assets/javascripts/invoices.js" defer></script>