<style>
    .js-editable-body .non-editable-content,
    .style-non-editable {
        display: block;
        padding-top: 7px;
        font-weight: bold;
    }

    .js-editable-body .editable-content {
        display: none;
    }

    .js-editable-body.editable-on .editable-content {
        display: block;
    }

    .js-editable-body.editable-on .non-editable-content {
        display: none;
    }

    .footer-btn-block-resrvation {
        display: flex;
    }

    .footer-resrvation-save-btn {
        margin-right: auto;
    }

    .footer-resrvation-end-btn {
        margin-left: auto;
        margin-right: 10px;
    }
</style>

<header class="page-header">
    <h2>Выставленный счет</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Выставленный счет</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        {{#each invoices}}
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Подробнее о документе выставленного счета № {{id}}</h2>
                </header>
                <div class="panel-body js-editable-body">
                    <form action="" class="form-horizontal mb-lg" novalidate="novalidate">
                        <input type="hidden" name="id" value="{{id}}">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Основание</label>
                            <div class="non-editable-content">
                                {{#if isAPR}}
                                    <a href="/apartment-reservations/{{base_id}}" target="_blank">Аренда квартиры</a>
                                {{else if isCRR}}
                                    <a href="/car-reservation/{{base_id}}" target="_blank">Аренда авто</a>
                                {{else if isDETK}}
                                    <a href="/detailing-apartments/{{base_id}}" target="_blank">Детализация квартир</a>
                                {{else if isDETA}}
                                    <a href="/detailing-cars/{{base_id}}" target="_blank">Детализация авто</a>
                                {{/if}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Общая сумма</label>
                            <div class="style-non-editable">
                                {{sum}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Остаток</label>
                            <div class="style-non-editable">
                                {{saldo}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Статус</label>
                            <div class="style-non-editable">
                                {{status}}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Менеджер</label>
                            <div class="style-non-editable">
                                {{manager_name}}
                            </div>
                        </div>


                        <div class="col-md-12 text-right editable-content">
                            <button class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                    <div class="col-md-12">
                        <button data-id="{{id}}" data-target="invoices"
                            class="btn btn-danger js-tableEssence-remove">Удалить</button>
                    </div>
                </div>
            </section>
        {{/each}}
    </div>
</section>