<style>
    .js-editable-body .non-editable-content {
        display: block;
    }

    .js-editable-body .editable-content {
        display: none;
    }

    .js-editable-body.editable-on .editable-content {
        display: block;
    }

    .js-editable-body.editable-on .non-editable-content {
        display: none;
    }
</style>

<header class="page-header">
    <h2>Автомобили</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Автомобили</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        {{#each cars}}
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Добавление нового автомобиля</h2>
                </header>
                <div class="panel-body js-editable-body">
                    <form action="/api/cars/update" id="js-cars-add-form" class="form-horizontal mb-lg"
                        novalidate="novalidate">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <div class="form-group mt-lg">
                            <label class="col-sm-4 control-label">Название автомобиля</label>
                            <div class="non-editable-content" data-target="name">
                                {{this.name }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input name="name" type="text" class="form-control" placeholder="Введите название"
                                    value="{{this.name }}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Модель</label>
                            <div class="non-editable-content" data-target="model">
                                {{this.model }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input name="model" type="text" class="form-control" placeholder="Введите модель"
                                    value="{{this.model }}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Класс</label>
                            <div class="col-sm-4 non-editable-content" data-target="class_name">
                                {{class_name}}
                            </div>
                            <div class="col-sm-4 editable-content">
                                <input type="text" value="{{this.class_name}}" name="class_name" class="form-control"
                                    placeholder="Введите класс">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Гос.номер</label>
                            <div class="non-editable-content" data-target="number">
                                {{this.number }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input name="number" type="text" class="form-control" placeholder="Введите номер"
                                    value="{{this.number }}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Дата выпуска</label>
                            <div class="non-editable-content" data-target="release_date">
                                {{toIsoString this.release_date 'DD.MM.YYYY' }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input type="date" name="release_date" class="form-control"
                                    value="{{toIsoString this.release_date 'YYYY-MM-DD'}}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Фактический пробег, км</label>
                            <div class="non-editable-content" data-target="mileage">
                                {{this.mileage }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input name="mileage" type="number" class="form-control" placeholder="Введите пробег"
                                    value="{{this.mileage }}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Состояние кузова</label>
                            <div class="non-editable-content" data-target="carcass_condition">
                                {{this.carcass_condition }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input name="carcass_condition" type="text" class="form-control"
                                    placeholder="Введите состояние" value="{{this.carcass_condition }}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Фактический уровень топлива</label>
                            <div class="non-editable-content" data-target="fuel_level">
                                {{this.fuel_level }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input name="fuel_level" type="number" class="form-control"
                                    placeholder="Введите уровень топлива" value="{{this.fuel_level }}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Номер ОСАГО</label>
                            <div class="non-editable-content" data-target="osago_number">
                                {{this.osago_number }}
                            </div>
                            <div class="col-sm-3 editable-content">
                                <input name="osago_number" data-plugin-masked-input="" data-input-mask="aaa 999999"
                                    placeholder="AAA 123456" class="form-control" value="{{this.osago_number }}"
                                    required>
                            </div>
                            <label class="col-sm-3 control-label">Дата окончания</label>
                            <div class="non-editable-content" data-target="osago_expiration_date">
                                {{toIsoString this.osago_expiration_date 'DD.MM.YYYY' }}
                            </div>
                            <div class="col-sm-3 editable-content">
                                <input type="date" name="osago_expiration_date" data-plugin-masked-input=""
                                    data-input-mask="9999-99-99" placeholder="yyyy-mm-dd" class="form-control"
                                    value="{{toIsoString this.osago_expiration_date 'YYYY-MM-DD' }}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Расстояние для ТО, км</label>
                            <div class="non-editable-content" data-target="maintenance">
                                {{this.maintenance }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input name="maintenance" type="number" class="form-control"
                                    placeholder="Введите расстояние" value="{{this.maintenance }}" required>
                            </div>
                        </div>
                        <div class="form-group editable-content">
                            <label class="col-sm-3">Принадлежит фирме</label>
                            <div class="col-sm-9">
                                <div class="checkbox-custom checkbox-primary col-sm-3">
                                    <input {{ifTrue company_property 'checked' ''}} type="checkbox" name="company_property" value="1"
                                        id="companyPropertyCheckbox">
                                    <label for="companyPropertyCheckbox">Да</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Рыночная стоимость</label>
                            <div class="non-editable-content" data-target="market_price">
                                {{this.market_price }}
                            </div>
                            <div class="col-sm-3 editable-content">
                                <input name="market_price" type="text" class="form-control" placeholder="Введите цену"
                                    value="{{this.market_price }}" required>
                            </div>
                            <label class="col-sm-3 control-label">Стоимость покупки</label>
                            <div class="non-editable-content" data-target="purchase_price">
                                {{this.purchase_price }}
                            </div>
                            <div class="col-sm-3 editable-content">
                                <input name="purchase_price" type="text" class="form-control" placeholder="Введите цену"
                                    value="{{this.purchase_price }}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="col-sm-12">Автомобиль
                                {{#if ../driver.is_individual}}
                                    <span class="car-own">принадлежит</span>
                                {{else}}
                                    <span class="car-assigned">зареплен за</span>
                                {{/if}}
                                <span class="car-driver-name">
                                    <a href="/drivers/{{../driver.id}}">{{../driver.name}}</a>
                                </span>, водительское удостоверение
                                <span class="car-driver-license">№ {{../driver.driver_license}}</span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12 control-label"
                                style="text-transform: uppercase; font-weight: bold; text-align: center;">Лизинг</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3" style="text-align: right;">Статус</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="in_leasing">
                                    {{ifTrue this.in_leasing 'Лизинг' 'Не лизинг'}}
                                </div>
                                <div class="editable-content">
                                    <div class="checkbox-custom checkbox-primary col-sm-3">
                                        <input {{ifTrue this.in_leasing  'checked' ''}} value="1" type="checkbox"
                                            id="checkboxLising" name="in_leasing" class="checkbox-lising">
                                        <label for="checkboxLising">В лизинге</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group checkbox-lising-info" style="display: none;">
                            <label class="col-sm-3 control-label">Размер платежа, руб</label>
                            <div class="non-editable-content" data-target="payment_amount">
                                {{this.payment_amount}}
                            </div>
                            <div class="col-sm-3 editable-content">
                                <input name="payment_amount" type="number" class="form-control"
                                    placeholder="Введите сумму" value="{{this.payment_amount }}" required>
                            </div>
                            <label class="col-sm-3 control-label">Дата платежа</label>
                            <div class="non-editable-content" data-target="payment_date">
                                {{toIsoString this.payment_date 'DD.MM.YYYY'}}
                            </div>
                            <div class="col-sm-3 editable-content">
                                <input name="payment_date" type="date" class="form-control"
                                    value="{{toIsoString this.payment_date 'YYYY-MM-DD' }}" required>
                            </div>
                            <label class="col-sm-5 control-label">Дата окончания</label>
                            <div class="non-editable-content" data-target="leasing_expiration_date">
                                {{toIsoString this.leasing_expiration_date 'DD.MM.YYYY'}}
                            </div>
                            <div class="col-sm-5 editable-content">
                                <input name="leasing_expiration_date" type="date" class="form-control"
                                    value="{{toIsoString this.leasing_expiration_date 'YYYY-MM-DD'}}" required>
                            </div>
                        </div>
                        <div class="col-md-12 text-right editable-content">
                            <button class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                    <div class="col-md-12">
                        <button class="btn btn-primary js-toggleEditable">Редактировать</button>
                        <button data-id="{{id}}" data-target="cars"
                            class="btn btn-danger js-tableEssence-remove">Удалить</button>
                    </div>
                </div>
            </section>
        {{/each}}
    </div>
</section>
<script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
<script>
    const checkLising = document.querySelector('.checkbox-lising');
    const checkLisingInfo = document.querySelector('.checkbox-lising-info');

    if (checkLising.checked) {
        checkLisingInfo.style.display = "block";
    } else {
        checkLisingInfo.style.display = "none";
    }

    checkLising.addEventListener('change', function () {
        if (this.checked) {
            checkLisingInfo.style.display = "block";
        } else {
            checkLisingInfo.style.display = "none";
        }
    });
</script>