<style>
    .js-editable-body .non-editable-content,
    .style-non-editable {
        display: block;
        padding-top: 7px;
        font-weight: bold;
    }

    .js-editable-body .editable-content {
        display: none;
    }

    .js-editable-body.editable-on .editable-content {
        display: block;
    }

    .js-editable-body.editable-on .non-editable-content {
        display: none;
    }

    .footer-btn-block-resrvation {
        display: flex;
    }

    .footer-resrvation-save-btn {
        margin-right: auto;
    }

    .footer-resrvation-end-btn {
        margin-left: auto;
        margin-right: 10px;
    }
</style>

<header class="page-header">
    <h2>Клиенты</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Клиенты</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        {{#each passengers}}
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Добавление нового клиента</h2>
                </header>
                <div class="panel-body js-editable-body">
                    <form action="/api/clients/update" id="js-passengers-add-form" class="form-horizontal mb-lg"
                        novalidate="novalidate">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Наименование/ФИО</label>
                            <div class="non-editable-content" data-target="name">
                                {{this.name }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input name="name" type="text" class="form-control" placeholder="Введите данные"
                                    value="{{this.name }}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Дата рождения</label>
                            <div class="non-editable-content" data-target="birthday">
                                {{toIsoString this.birthday 'DD.MM.YYYY' }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input name="birthday" type="date" class="form-control" placeholder="Введите дату"
                                    value="{{toIsoString this.birthday 'YYYY-MM-DD' }}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Контактный телефон</label>
                            <div class="non-editable-content" data-target="contact_number">
                                {{this.contact_number }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input name="contact_number" class="form-control phone-input" value="{{this.contact_number }}" required>
                            </div>
                        </div>
                        <div class="col-md-12 text-right editable-content">
                            <button class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                    <div class="col-md-12">
                        <button class="btn btn-primary js-toggleEditable">Редактировать</button>
                        <button data-id="{{id}}" data-target="clients"
                            class="btn btn-danger js-tableEssence-remove">Удалить</button>
                    </div>
                </div>
            </section>
        {{/each}}
    </div>
</section>
<script src="/assets/vendor/inputmask/inputmask.dependencyLib.min.js"></script>
<script src="/assets/vendor/inputmask/inputmask.min.js"></script>
<script src="/assets/vendor/inputmask/inputmask.custom.js"></script>