<table class="table table-bordered table-striped table-condensed mb-none">
    <thead>
        <tr>
            <th colspan="5" class="text-left">Остаток на начало периода: <span>{{balanceAtStartPeriod}}</span> руб.</th>
        </tr>
        <tr>
            <th>Дата</th>
            <th>Кому/От кого</th>
            <th>Основание</th>
            <th class="text-right">Приход, руб.</th>
            <th class="text-right">Расход, руб.</th>
            <th class="text-right">Касса/счет</th>
        </tr>
    </thead>
    <tbody>
        {{#each incomes}}
            <tr>
                <td>{{toIsoString date 'DD.MM.YYYY'}}</td>
                <td>{{customer_name}}</td>
                <td>
                    <a href="/incomes/{{id}}">Документ прихода №{{id}}</a>
                </td>
                <td class="text-right">{{sum}}</td>
                <td class="text-right"></td>
                <td class="text-right">{{cashStorageName}}</td>
            </tr>
        {{/each}}
        {{#each costs}}
            <tr>
                <td>{{toIsoString date 'DD.MM.YYYY'}}</td>
                <td>{{toCost}}</td>
                <td>
                    <a href="/costs/{{id}}">Документ расхода №{{id}}</a>
                </td>
                <td class="text-right"></td>
                <td class="text-right">{{sum}}</td>
                <td class="text-right">{{cashStorageName}}</td>
            </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <th>Дата</th>
            <th>Кому/От кого</th>
            <th>Основание</th>
            <th class="text-right">Приход</th>
            <th class="text-right">Расход</th>
            <th class="text-right">Касса/счет</th>
        </tr>
        <tr>
            <th colspan="6" class="text-left">Остаток на конец периода: <span>{{balanceAtEndPeriod}}</span> руб.</th>
        </tr>
    </tfoot>
</table>