<tr>
    <td colspan="4">
        <span>Общая сумма:</span>
        <span>{{round total}} р</span>
    </td>
</tr>
<tr>
    <th>Дата</th>
    <th>За что</th>
    <th>Процент</th>
    <th>Сумма в рублях</th>
</tr>
{{#each details}}
    <tr>
        <td>{{date}}</td>
        <td>{{description}}</td>
        <td>{{percent}}</td>
        <td>{{round sum}}</td>
    </tr>
{{/each}}