<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

  <div class="sidebar-header">
    <div class="sidebar-title">
      Навигация
    </div>
    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
      <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <div class="nano">
    <div class="nano-content">
      <nav id="menu" class="nav-main" role="navigation">
        <ul class="nav nav-main">
          <li class="{{setActive reqUrl '/'}}">
            <a href="/">
              <i class="fa fa-book" aria-hidden="true"></i>
              <span>Главная страница</span>
            </a>
          </li>
          <li class="{{setActive reqUrl '/sales.html'}}">
            <a href="/sales.html">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <span>Продажи товара</span>
            </a>
          </li>
          <li class="{{setActive reqUrl '/cashbox.html'}}">
            <a href="/cashbox.html">
              <i class="fa fa-key" aria-hidden="true"></i>
              <span>Касса</span>
            </a>
          </li>
          <li class="{{setActive reqUrl '/costs-income.html'}}">
            <a href="/costs-income.html">
              <i class="fa fa-exchange" aria-hidden="true"></i>
              <span>Расходы/доходы</span>
            </a>
          </li>
          <li class="{{setActive reqUrl '/incoming-goods.html'}}">
            <a href="/incoming-goods.html">
              <i class="fa fa-truck" aria-hidden="true"></i>
              <span>Приход товара</span>
            </a>
          </li>
          <li class="{{setActive reqUrl '/remnants-of-goods.html'}}">
            <a href="/remnants-of-goods.html">
              <i class="fa fa-codepen" aria-hidden="true"></i>
              <span>Остатки товара</span>
            </a>
          </li>
          <li class="{{setActive reqUrl '/commodity-nomenclature.html'}}">
            <a href="/commodity-nomenclature.html">
              <i class="fa fa-table" aria-hidden="true"></i>
              <span>Номенклатура</span>
            </a>
          </li>
          <li class="nav-parent {{setOpen reqUrl '/report.html' '/sales-report' '/analytics' }}">
            <a>
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              <span>Отчет</span>
            </a>
            <ul class="nav nav-children">
              <li class="{{setActive reqUrl '/report.html'}}">
                <a href="/report.html">
                  <i class="fa fa-tasks" aria-hidden="true"></i>
                  <span>Финансовый</span>
                </a>
              </li>
              <li class="{{setActive reqUrl '/sales-report'}}">
                <a href="/sales-report">
                  <i class="fa fa-credit-card" aria-hidden="true"></i>
                  <span>О продажах</span>
                </a>
              </li>
              <li class="{{setActive reqUrl '/analytics'}}">
                <a href="/analytics">
                  <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
                  <span>Аналитика</span>
                </a>
              </li>
            </ul>
          </li>
          </li>
          <li class="{{setActive reqUrl '/salary-statement'}}">
            <a href="/salary-statement">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              <span>Зарплатная ведомость</span>
            </a>
          </li>                    
          <li class="{{setActive reqUrl '/car-reservation'}}">
            <a href="/car-reservation">
              <i class="fa fa-cab" aria-hidden="true"></i>
              <span>Аренда автомобилей</span>
            </a>
          </li>
          <li class="{{setActive reqUrl '/apartment-reservations'}}">
            <a href="/apartment-reservations">
              <i class="fa fa-key" aria-hidden="true"></i>
              <span>Аренда квартир</span>
            </a>
          </li>
          <li class="nav-parent {{setOpen reqUrl '/cars' '/customers' '/clients' '/drivers' '/itineraries' '/price-list' '/cash-storages' '/additional-services'}}">
            <a>
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              <span>Справочники</span>
            </a>
            <ul class="nav nav-children">
              <li class="{{setActive reqUrl '/cars'}}">
                <a href="/cars">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <span>Автомобили</span>
                </a>
              </li>
              <li class="{{setActive reqUrl '/customers'}}">
                <a href="/customers">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <span>Заказчики</span>
                </a>
              </li>
              <li class="{{setActive reqUrl '/clients'}}">
                <a href="/clients">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <span>Клиенты</span>
                </a>
              </li>
              <li class="{{setActive reqUrl '/drivers'}}">
                <a href="/drivers">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <span>Водители</span>
                </a>
              </li>
              <li class="{{setActive reqUrl '/itineraries'}}">
                <a href="/itineraries">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <span>Маршруты</span>
                </a>
              </li>
              <li class="{{setActive reqUrl '/price-list'}}">
                <a href="/price-list">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <span>Прайс</span>
                </a>
              </li>
              <li class="{{setActive reqUrl '/cash-storages'}}">
                <a href="/cash-storages">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <span>Кассы, счета</span>
                </a>
              </li>
              <li class="{{setActive reqUrl '/additional-services'}}">
                <a href="/additional-services">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <span>Дополнительные услуги</span>
                </a>
              </li>
              <li class="{{setActive reqUrl '/apartments'}}">
                <a href="/apartments">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <span>Квартиры</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <hr class="separator">
            <hr class="separator">
            <hr class="separator">
          </li>
        </ul>
      </nav>
    </div>
  </div>
</aside>
<!-- end: sidebar -->