<style>
    .js-editable-body .non-editable-content {
        display: block;
        padding-top: 7px;
        font-weight: bold;
    }

    .js-editable-body .editable-content {
        display: none;
    }

    .js-editable-body.editable-on .editable-content {
        display: block;
    }

    .js-editable-body.editable-on .non-editable-content {
        display: none;
    }

    .footer-btn-block-resrvation {
        display: flex;
    }

    .footer-resrvation-save-btn {
        margin-right: auto;
    }

    .footer-resrvation-end-btn {
        margin-left: auto;
        margin-right: 10px;
    }
</style>

<header class="page-header">
    <h2>Смена № {{shift.id}}</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Смена № {{shift.id}}</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Информация о смене</h2>
            </header>
            <div class="panel-body js-editable-body">
                <form class="form-horizontal mb-lg" novalidate="novalidate"
                    onsubmit="contactsShiftUpdate(this, '{{shift.id}}'); return false;">

                    <div class="col-sm-12">
                        <label class="col-sm-2 control-label">Дата начала смены</label>
                        <div class="non-editable-content" data-target="date_start">
                            {{toIsoString shift.date_start 'DD.MM.YYYY'}}
                        </div>
                        <div class="col-sm-6 editable-content">
                            <input type="date" class="form-control" name="date_start"
                                value="{{toIsoString shift.date_start 'YYYY-MM-DD'}}">
                        </div>
                    </div>

                    {{#each drivers2shifts}}
                        <div class="form-group js-contract-driver-block">
                            <input type="hidden" name="id" value="{{id}}">

                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Водитель</label>
                                <div class="non-editable-content" data-target="driver_name">
                                    {{driver_name}}
                                </div>
                                <div class="col-sm-6 editable-content">
                                    <select style="width: 100%" name="driver_id" class="js-select2-init"
                                        data-ajax="/api/drivers/select2">
                                        <option value="" selected>Не выбрано</option>
                                        <option value="{{driver_id}}" selected>{{driver_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Тип</label>
                                <div class="non-editable-content col-sm-9" data-target="type">
                                    {{../getType type}}
                                </div>
                                <div class="col-sm-8 editable-content">
                                    <select class="form-control" name="type">
                                        <option value="" selected disabled>Выберете тип объекта</option>
                                        <option {{compare type 'gorod' 'selected' ''}} value="gorod">Город</option>
                                        <option {{compare type 'gorod_ostatki' 'selected' ''}} value="gorod_ostatki">
                                            Город (остатки)</option>
                                        <option {{compare type 'komandirovki' 'selected' ''}} value="komandirovki">
                                            Командировки</option>
                                        <option {{compare type 'gruzovie' 'selected' ''}} value="gruzovie">Грузовые
                                        </option>
                                        <option {{compare type 'pitanie' 'selected' ''}} value="pitanie">Питание
                                        </option>
                                        <option {{compare type 'avtobus' 'selected' ''}} value="avtobus">Автобус
                                        </option>
                                        <option {{compare type 'vnedorozhnik' 'selected' ''}} value="vnedorozhnik">
                                            Внедорожник</option>
                                        <option {{compare type 'pomosh' 'selected' ''}} value="pomosh">Скорая помощь
                                        </option>
                                        <option {{compare type 'other' 'selected' ''}} value="other">Свой тип</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Объект</label>
                                <div class="non-editable-content col-sm-9" data-target="object">
                                    {{object}}
                                </div>
                                <div class="col-sm-8 editable-content">
                                    <input type="text" name="object" value="{{object}}" class="form-control"
                                        placeholder="Введите Объект" required>
                                </div>
                                <div>
                                    <label class="col-sm-2 control-label">Ставка</label>
                                    <div class="non-editable-content col-sm-3" data-target="value">
                                        {{value}}р.
                                    </div>
                                    <div class="col-sm-3 editable-content">
                                        <input type="number" value="{{value}}" name="value" class="form-control"
                                            placeholder="Введите цену" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Часы</label>
                                <div class="non-editable-content col-sm-9" data-target="hours">
                                    {{hours}}
                                </div>
                                <div class="col-sm-2 editable-content">
                                    <input value="{{hours}}" type="number" name="hours" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-12" style="background: yellow;">
                                <label class="col-sm-2 control-label">СУММА ЗА СМЕНУ</label>
                                <div class="col-sm-2" data-target="total_value">
                                    {{multiplication hours value}} руб.
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label class="col-sm-3 control-label">Номер путевого листа</label>
                                <div class="non-editable-content col-sm-2">
                                    {{id}}
                                </div>
                            </div>
                            <div class="form-group non-editable-content col-sm-12">
                                <div class="control-label col-sm-3">
                                    <a href="/contract-shift/print-list/{{id}}" class="btn btn-default">Печать путевого
                                        листа</a>
                                </div>
                            </div>
                        </div>
                    {{/each}}

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Менеджер</label>
                        <div>{{shift.manager_name}}</div>
                    </div>

                    {{#if shift.is_completed}}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Смена завершена</label>
                            <div>{{toIsoString shift.complete_at 'DD.MM.YYYY в HH:mm'}}</div>
                        </div>
                    {{/if}}

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Комментарий</label>
                        <div class="non-editable-content" data-target="comment">
                            {{shift.comment}}
                        </div>
                        <div class="col-sm-8 editable-content">
                            <textarea value="{{shift.comment}}" name="comment" cols="20" rows="4" class="form-control"
                                placeholder="Введите комментарий" required>{{shift.comment}}</textarea>
                        </div>
                    </div>

                    <div class="col-md-12 text-right editable-content">
                        <div class="footer-btn-block-resrvation">
                            <button class="btn btn-success footer-resrvation-save-btn"
                                id="js-save-update-shift">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="footer-btn-block-resrvation">

                <button class="btn btn-primary js-toggleEditable">Редактировать</button>

                {{#unless shift.is_completed}}
                    <button class="btn btn-danger footer-resrvation-end-btn" data-id="{{shift.id}}"
                        id="js-close-shift">Завершить</button>
                    <button data-target="contract-shifts" data-id="{{shift.id}}"
                        class="btn btn-danger js-tableEssence-remove">Удалить
                        смену</button>
                {{/unless}}
            </div>
        </section>
    </div>
</section>

<script>

    $('#js-close-shift').on('click', function () {

        if (!confirm('Закрыть смену?')) {
            return false;
        }

        closeShift($(this).data('id'));
    });
</script>