<header class="page-header">
    <h2>Заказ квартир</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li>
                <span>Заказ квартир</span>
                <span class="separator"></span>
            </li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">

        {{#each apartmentReservations}}
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Заявка на бронь квартиры</h2>
                </header>
                <div class="panel-body">
                    <form id="js-apartmentReservations-form" class="form-horizontal mb-lg" novalidate="novalidate">
                        <div class="form-group mt-lg">
                            <label class="col-sm-3 control-label">Заказчик</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    {{this.customer_name}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Клиент</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    {{this.client_name}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Контактный телефон</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    {{this.client_number}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Квартира</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    {{this.address}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Цена за сутки, руб.</label>
                            <div class="col-sm-9">
                                {{this.price_per_day}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Количество суток</label>
                            <div class="col-sm-9">
                                {{this.number_days}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Въезд</label>
                            <div class="col-sm-9">
                                {{this.entry}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Выезд</label>
                            <div class="col-sm-9">
                                {{this.departure}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Предварительная сумма</label>
                            <div class="col-sm-8">
                                {{this.prepayment}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Выбор оплаты</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    {{this.cash_storage}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group services-group">
                            <div class="col-sm-12 control-label" style="text-align:center;">
                                <span>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</span>
                            </div>
                            {{#each ../additionalServices}}
                                <div class="form-group col-sm-12 services-group__item">
                                    <label class="col-sm-3 control-label">Услуга</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            {{this.name}}
                                        </div>
                                    </div>

                                </div>
                            {{/each}}
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Комментарий</label>
                            <div class="col-sm-9">
                                {{this.comment}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Общая сумма, руб.</label>
                            <div class="col-sm-9">
                                {{this.sum}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Статус</label>
                            <div class="col-sm-9">{{this.at_reception}}</div>
                        </div>

                    </form>
                </div>
            </section>
        {{/each}}

    </div>
</section>

<script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>