<header class="page-header">
    <h2>Заказ квартир</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Заказ квартир</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <h2 class="panel-title">Список заказов квартир</h2>
    </header>
    <div class="panel-body">
        <button href="#add-products" type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-default modal-with-form">
            <i class="fa fa-plus"></i> Создать заказ
        </button>
        <div class="zag">
            <h1>заглушка</h1>
        </div>
        <div class="table-responsive">
            <table id="js-nomenclature-products-table"
                class="display table table-bordered table-striped table-condensed mb-none customize"
                style="width:100%; display: none">
                <thead>
                    <tr>
                        <th>Дата заказа</th>
                        <th>Адрес</th>
                        <th>Клиент</th>
                        <th>Статус</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each goods}}
                        <tr>
                            <td>{{this.title}}</td>
                            <td>{{this.purchase_price}}</td>
                            <td>{{this.selling_price}}</td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Дата заказа</th>
                        <th>Адрес</th>
                        <th>Клиент</th>
                        <th>Статус</th>
                        <th>Подробнее</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<!-- Модалки-->

<div id="add-products" class="modal-block modal-block-primary mfp-hide" style="max-width: 700px;">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Заявка на бронь квартиры</h2>
        </header>
        <div class="panel-body">
            <form id="js-apartmentReservations-form" class="form-horizontal mb-lg" novalidate="novalidate">
                <div class="form-group mt-lg">
                    <label class="col-sm-3 control-label">Заказчик</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select name="customer_id" class="form-control">
                                <option value="0" selected disabled>Выберете заказчика</option>
                                {{#each customers}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Добавить</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Клиент</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select name="passenger_id" class="form-control">
                                <option value="0" selected disabled>Выберете пассажира</option>
                                {{#each passengers}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Добавить</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Контактный телефон</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input name="contact_number" data-input-mask="+7 (999) 999-9999"
                                placeholder="+7 (123) 123-1234" class="form-control" required>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Добавить</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Квартира</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select name="apartment_id" class="form-control">
                                <option value="0" selected disabled>Выберете Адрес</option>
                                {{#each apartments}}
                                    <option value="{{this.id}}">{{this.address}}</option>
                                {{/each}}
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Добавить</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Цена за сутки, руб.</label>
                    <div class="col-sm-9">
                        <input name="price_per_day" type="number" class="form-control" placeholder="Введите сумму"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Количество суток</label>
                    <div class="col-sm-9">
                        <input name="number_days" type="number" class="form-control" placeholder="Введите количество"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Въезд</label>
                    <div class="col-sm-9">
                        <input name="entry" type="datetime-local" class="form-control" placeholder="Введите время" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Выезд</label>
                    <div class="col-sm-9">
                        <input name="departure" type="datetime-local" class="form-control" placeholder="Введите время"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Предварительная сумма</label>
                    <div class="col-sm-8">
                        <input name="prepayment" type="text" class="form-control" placeholder="Введите сумму" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Выбор оплаты</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select name="cash_storage_id" class="form-control">
                                <option value="0" selected disabled>Выберете способ оплаты</option>
                                {{#each cashStorages}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Добавить</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group services-group">
                    <div class="col-sm-12 control-label" style="text-align:center;">
                        <span>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</span>
                    </div>
                    <div class="form-group col-sm-12 services-group__item">
                        <label class="col-sm-3 control-label">Услуга</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select class="js-apartmentReservations-services form-control">
                                    <option value="0" selected disabled>Выберете услугу</option>
                                    {{#each additionalServices}}
                                        <option value="{{this.id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Добавить</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-warning adding-item" type="button">+</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger deliting-item" type="button">-</button>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Комментарий</label>
                    <div class="col-sm-9">
                        <textarea name="comment" class="form-control" id="" cols="30" rows="5"
                            placeholder="Введите комментарий"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Общая сумма, руб.</label>
                    <div class="col-sm-9">
                        <input name="sum" type="number" class="form-control" placeholder="Введите сумму" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9"></div>
                    <div class="checkbox-custom checkbox-warning col-sm-3">
                        <input id="at_reception" type="checkbox" id="checkboxExample4">
                        <label for="checkboxExample4">На приеме</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-success">Принять</button>
                        <button class="btn btn-primary">Изменить</button>
                        <button class="btn btn-danger modal-dismiss">Завершить</button>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>
<script>
    var btnAddProduct = document.querySelector('.adding-item');
    var btnDeleteProduct = document.querySelector('.deliting-item');
    var table = document.querySelector('.services-group');

    function insRow() {
        var target = event.target;
        var grItem = table.querySelectorAll('.services-group__item');
        var new_row = grItem[0].cloneNode(true);
        new_row.querySelector('.adding-item').addEventListener('click', insRow);

        var dateInp = new_row.querySelectorAll('input');
        for (var i = 0; i < dateInp.length; i++) {
            dateInp[i].value = '';
        }

        table.appendChild(new_row);
    }

    function delRow() {
        var target = event.target;
        var closeBtn = target.closest('.deliting-item');
        if (!closeBtn) return;

        var grItem = table.querySelectorAll('.services-group__item');
        var actualTbody = grItem.length;
        if (actualTbody == 1) {
            return;
        } else {
            indexRow = closeBtn.parentNode.parentNode.parentNode.parentNode.remove();
        }
    }

    btnAddProduct.addEventListener('click', insRow);

    table.addEventListener('click', delRow);
</script>
<script src="assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>