<style>
    .js-editable-body .non-editable-content {
        display: block;
        padding-top: 7px;
        font-weight: bold;
    }

    .js-editable-body .editable-content {
        display: none;
    }

    .js-editable-body.editable-on .editable-content {
        display: block;
    }

    .js-editable-body.editable-on .non-editable-content {
        display: none;
    }

    .footer-btn-block-resrvation {
        display: flex;
    }

    .footer-resrvation-save-btn {
        margin-right: auto;
    }

    .footer-resrvation-end-btn {
        margin-left: auto;
        margin-right: 10px;
    }
</style>

<header class="page-header">
    <h2>Активный контракт № MUZ-*номер контракта*</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Контракт № MUZ-*номер контракта*</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Основная информация</h2>
            </header>
            <div class="panel-body js-editable-body">
                <form id="js-costs-add-form" action="/api/costs/update" class="form-horizontal mb-lg"
                    novalidate="novalidate">
                    <input type="hidden" name="id" value="{{id}}">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Заказчик контракта</label>
                        <div class="non-editable-content" data-target="">
                            ООО МУЗ "ЛАБЕАН"
                        </div>
                        <div class="col-sm-8 editable-content">
                            <select style="width: 100%" name="" id="">
                                <option value="" selected disabled>Выберите заказчика</option>
                                <option>Раз два три</option>
                                <option>Три два раз</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Сумма контракта</label>
                        <div class="non-editable-content" data-target="">
                            10000 рублей
                        </div>
                        <div class="col-sm-8 editable-content">
                            <input value="" type="number" name="" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Обеспечение по контракту</label>
                        <div class="non-editable-content" data-target="">
                            100000000 рублей
                        </div>
                        <div class="col-sm-8 editable-content">
                            <input value="" type="number" name="" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Количество часов по контракту</label>
                        <div class="non-editable-content" data-target="">
                            10000 часов
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Количество часов осталось</label>
                        <div class="non-editable-content" data-target="">
                            1000 часов
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 control-label" style="text-align:center;">
                            <span style="font-weight: bold;">ВИДЫ ЧАСОВ</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><b>Город</b></label>
                            <div class="non-editable-content col-sm-6" data-target="">
                                1000 часов
                            </div>
                            <div class="col-sm-6 editable-content">
                                <input type="number" class="form-control"
                                    placeholder="Введите количество часов" required>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-5 control-label">Осталось часов</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 100
                                </div>
                            </div>
                            <div>
                                <label class="col-sm-5 control-label">Цена</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 10 руб.
                                </div>
                                <div class="col-sm-3 editable-content">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><b>Город (остатки)</b></label>
                            <div class="non-editable-content col-sm-6" data-target="">
                                1000 часов
                            </div>
                            <div class="editable-content col-sm-6">
                                <input type="number" class="form-control"
                                    placeholder="Введите количество часов" required>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-5 control-label">Осталось часов</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 100
                                </div>
                            </div>
                            <div>
                                <label class="col-sm-5 control-label">Цена</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 10 руб.
                                </div>
                                <div class="col-sm-3 editable-content">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><b>Командировки</b></label>
                            <div class="non-editable-content col-sm-6" data-target="">
                                 10 час.
                                </div>
                            <div class="col-sm-6 editable-content">
                                <input type="number" class="form-control"
                                    placeholder="Введите количество часов" required>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-5 control-label">Осталось часов</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 100
                                </div>
                            </div>
                            <div>
                                <label class="col-sm-5 control-label">Цена</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 20 руб.
                                </div>
                                <div class="col-sm-3 editable-content">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><b>Грузовые</b></label>
                            <div class="non-editable-content col-sm-6" data-target="">
                             230 час.
                            </div>
                            <div class="col-sm-6 editable-content">
                                <input type="number" class="form-control"
                                    placeholder="Введите количество часов" required>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-5 control-label">Осталось часов</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 100
                                </div>
                            </div>
                            <div>
                                <label class="col-sm-5 control-label">Цена</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 15 руб.
                                </div>
                                <div class="col-sm-3 editable-content">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><b>Питание</b></label>
                            <div class="non-editable-content col-sm-6" data-target="">
                             30 час.
                            </div>
                            <div class="col-sm-6 editable-content">
                                <input type="number" class="form-control"
                                    placeholder="Введите количество часов" required>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-5 control-label">Осталось часов</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 100
                                </div>
                            </div>
                            <div>
                                <label class="col-sm-5 control-label">Цена</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 80 руб.
                                </div>
                                <div class="col-sm-3 editable-content">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><b>Автобус</b></label>
                            <div class="non-editable-content col-sm-6" data-target="">
                             22 час.
                            </div>
                            <div class="col-sm-6 editable-content">
                                <input type="number" class="form-control" placeholder="Введите количество часов" required>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-5 control-label">Осталось часов</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 100
                                </div>
                            </div>
                            <div>
                                <label class="col-sm-5 control-label">Цена</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 10 руб.
                                </div>
                                <div class="col-sm-3 editable-content">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><b>Внедорожник</b></label>
                            <div class="non-editable-content col-sm-6" data-target="">
                             100 час.
                            </div>
                            <div class="col-sm-6 editable-content">
                                <input type="number" class="form-control"
                                    placeholder="Введите количество часов" required>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-5 control-label">Осталось часов</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 100
                                </div>
                            </div>
                            <div>
                                <label class="col-sm-5 control-label">Цена</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 100 руб.
                                </div>
                                <div class="col-sm-3 editable-content">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label"><b>Скорая помощь</b></label>
                            <div class="non-editable-content col-sm-6" data-target="">
                             300 час.
                            </div>
                            <div class="col-sm-6 editable-content">
                                <input type="number" class="form-control"
                                    placeholder="Введите количество часов" required>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-5 control-label">Осталось часов</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 100
                                </div>
                            </div>
                            <div>
                                <label class="col-sm-5 control-label">Цена</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 120 руб.
                                </div>
                                <div class="col-sm-3 editable-content">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label non-editable-content">Дополнительное поле</label>
                            <label class="col-sm-5 editable-content">
                                <input type="text" class="form-control" placeholder="Введите тип" style="max-width: 150px!important;margin-left: auto;">
                            </label>
                            <div class="non-editable-content col-sm-6" data-target="">
                             300 час.
                            </div>
                            <div class="col-sm-6 editable-content">
                                <input type="number" value="0" class="form-control"
                                    placeholder="Введите количество часов" required>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-5 control-label">Осталось часов</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 100
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-5 control-label">Цена</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                 120 руб.
                                </div>
                                <div class="col-sm-3 editable-content">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 control-label" style="text-align:center;">
                        <span><b>ВОДИТЕЛИ И ОБЪЕКТЫ ДЛЯ КОНТРАКТА</b></span>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><b>Водитель</b></label>
                        <div class="non-editable-content col-sm-9" data-target="">
                            Иванов Иван Иваныч
                        </div>
                        <div class="col-sm-9 editable-content">
                            <select class="form-control">
                                <option value="0" selected disabled>Выберете водителя</option>
                                {{#each additionalServices}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Тип</label>
                            <div class="non-editable-content col-sm-8" data-target="">
                                Город
                            </div>
                            <div class="col-sm-8 editable-content">
                                <select class="form-control">
                                    <option value="0" selected disabled>Выберете тип объекта</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Объект</label>
                            <div class="non-editable-content col-sm-9" data-target="">
                                Грязнова 47
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input type="number" class="form-control"
                                    placeholder="Введите Объект" required>
                            </div>
                            <div>
                                <label class="col-sm-3 control-label">Ставка</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                    125р.
                                </div>
                                <div class="col-sm-3 editable-content">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><b>Водитель</b></label>
                        <div class="non-editable-content col-sm-9" data-target="">
                            Иванов Иван Иваныч
                        </div>
                        <div class="col-sm-9 editable-content">
                            <select class="form-control">
                                <option value="0" selected disabled>Выберете водителя</option>
                                {{#each additionalServices}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Тип</label>
                            <div class="non-editable-content col-sm-8" data-target="">
                                Город
                            </div>
                            <div class="col-sm-8 editable-content">
                                <select class="form-control">
                                    <option value="0" selected disabled>Выберете тип объекта</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Объект</label>
                            <div class="non-editable-content col-sm-9" data-target="">
                                Грязнова 47
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input type="number" class="form-control"
                                    placeholder="Введите Объект" required>
                            </div>
                            <div>
                                <label class="col-sm-3 control-label">Ставка</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                    125р.
                                </div>
                                <div class="col-sm-3 editable-content">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><b>Водитель</b></label>
                        <div class="non-editable-content col-sm-9" data-target="">
                            Иванов Иван Иваныч
                        </div>
                        <div class="col-sm-9 editable-content">
                            <select class="form-control">
                                <option value="0" selected disabled>Выберете водителя</option>
                                {{#each additionalServices}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Тип</label>
                            <div class="non-editable-content col-sm-8" data-target="">
                                Город
                            </div>
                            <div class="col-sm-8 editable-content">
                                <select class="form-control">
                                    <option value="0" selected disabled>Выберете тип объекта</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Объект</label>
                            <div class="non-editable-content col-sm-9" data-target="">
                                Грязнова 47
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input type="number" class="form-control"
                                    placeholder="Введите Объект" required>
                            </div>
                            <div>
                                <label class="col-sm-3 control-label">Ставка</label>
                                <div class="non-editable-content col-sm-3" data-target="">
                                    125р.
                                </div>
                                <div class="col-sm-3 editable-content">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 control-label" style="text-align:center;">
                        <span><b>ПРОЧАЯ ИНФОРМАЦИЯ</b></span>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Менеджер</label>
                        <div>{{manager_name}}</div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Комментарий</label>
                        <div class="non-editable-content" data-target="comment">
                            {{comment}}
                        </div>
                        <div class="col-sm-8 editable-content">
                            <textarea value="{{comment}}" name="comment" cols="20" rows="4" class="form-control"
                                placeholder="Введите комментарий" required>{{comment}}</textarea>
                        </div>
                    </div>

                    <div class="col-md-12 text-right editable-content">
                        <div class="footer-btn-block-resrvation">
                            <button class="btn btn-success footer-resrvation-save-btn">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="footer-btn-block-resrvation">
                {{#unless item.completed}}
                    <button class="btn btn-primary js-toggleEditable">Редактировать</button>
                    <button class="btn btn-danger footer-resrvation-end-btn">Завершить</button>
                    <button data-target="costs" data-id="{{id}}" class="btn btn-danger js-tableEssence-remove">Удалить
                        контракт</button>
                {{/unless}}
            </div>
        </section>
    
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Cписок активных смен на данный момент</h2>
            </header>
            <div class="panel-body">
                 <button href="#add-products" type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-default modal-with-form">
                    <i class="fa fa-plus"></i> Открыть смену
                </button>
                <div class="zag">
                    <h1>заглушка</h1>
                </div>
                <div class="table-responsive">
                    <table id="js-apartment-reservations-table"
                        class="display table table-bordered table-striped table-condensed mb-none customize"
                        style="width:100%; display: none">
                        <thead>
                            <tr>
                                <th>Дата начала</th>
                                <th>Номер</th>
                                <th>Менеджер</th>
                                <th>Подробнее</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12.01.2019</td>
                                <td>233</td>
                                <td>Иван Иванович Иванов</td>
                                <td>
                                    <a href="#" target="_blank">Подробнее</a>
                                </td>
                            </tr>
                            <tr>
                                <td>13.01.2019</td>
                                <td>234</td>
                                <td>Петр Иванович Иванов</td>
                                <td>
                                    <a href="#" target="_blank">Подробнее</a>
                                </td>
                            </tr>
                            <tr>
                                <td>14.01.2019</td>
                                <td>235</td>
                                <td>Антоненко Анна Васильевна</td>
                                <td>
                                    <a href="#" target="_blank">Подробнее</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Дата начала</th>
                                <th>Номер</th>
                                <th>Менеджер</th>
                                <th>Подробнее</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <a class="btn btn-primary" href="#" target="_blank">Завершенные смены по контракту</a>
        </section>
        
    </div>
</section>

<!-- Модалки-->

<div id="add-products" class="modal-block modal-block-primary mfp-hide" style="max-width: 700px;">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Открытие новой смены</h2>
        </header>
        <div class="panel-body">
            <form action="/api/apartmentReservations/add" id="js-apartmentReservations-form"
                class="form-horizontal mb-lg" novalidate="novalidate">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Дата начала смены</label>
                    <div class="col-sm-8">
                        <input name="entry" type="date" class="form-control" placeholder="Введите время"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 control-label" style="text-align:center;">
                        <span>ВОДИТЕЛИ И ОБЪЕКТЫ СМЕНЫ</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><b>Водитель</b></label>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option value="0" selected disabled>Выберете водителя</option>
                                {{#each additionalServices}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Тип</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option value="0" selected disabled>Выберете тип объекта</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Объект</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control"
                                    placeholder="Введите Объект" required>
                            </div>
                            <div>
                                <label class="col-sm-3 control-label">Ставка</label>
                                <div class="col-sm-3">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><b>Водитель</b></label>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option value="0" selected disabled>Выберете водителя</option>
                                {{#each additionalServices}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Тип</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option value="0" selected disabled>Выберете тип объекта</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Объект</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control"
                                    placeholder="Введите Объект" required>
                            </div>
                            <div>
                                <label class="col-sm-3 control-label">Ставка</label>
                                <div class="col-sm-3">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><b>Водитель</b></label>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option value="0" selected disabled>Выберете водителя</option>
                                {{#each additionalServices}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Тип</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option value="0" selected disabled>Выберете тип объекта</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-sm-3 control-label">Объект</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control"
                                    placeholder="Введите Объект" required>
                            </div>
                            <div>
                                <label class="col-sm-3 control-label">Ставка</label>
                                <div class="col-sm-3">
                                    <input type="number" class="form-control" placeholder="Введите цену" required>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Комментарий</label>
                    <div class="col-sm-8">
                        <textarea name="comment" class="form-control" id="" cols="30" rows="5"
                            placeholder="Введите комментарий"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-success">Принять</button>
                        <button class="btn btn-default modal-dismiss">Отмена</button>
                    </div>
                </div>
            </form>
            {{#each additionalServices}}
                <input type="hidden" class="service-info" value="{{id}}" data-price="{{price}}">
            {{/each}}
        </div>
    </section>
</div>