<style>
    .controls_details {
        display: block;
        width: 100%;
    }

    .controls_details-child {
        margin-bottom: 15px;
    }

    .controls_details_date-range {
        display: flex;
        max-width: 350px;
    }

    .header-details {
        font-size: 15px;
        font-weight: 600;
    }

    .header-details_span {
        margin: 0;
        display: block;
        font-size: 12px;
        color: #a6a8ab;
    }

    .save_and_print_buttons {
        margin-top: 15px;
    }
</style>

<header class="page-header">
    <h2>Документ № <span>ZPV-{{id}}</span></h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li>
                <span>Документ № <span>ZPV-{{id}}</span></span> <span class="separator"></span>
            </li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <h2 class="panel-title">Сохраненный документ ведомости №<span> ZPV-{{id}}</span> за
            <span>{{toIsoString det.period_from 'DD.MM.YYYY'}} -
                {{toIsoString det.period_end 'DD.MM.YYYY'}}</span></h2>
    </header>
    <div class="panel-body">
        <div class="after_create-wrapper">
            <div class="save_and_print_buttons col-md-7">
                <button data-id="{{id}}" class="js-detailing-cars-view-print btn btn-default">Печать</button>
                <br>
                <br>
            </div>

            <table class="table table-bordered table-striped mb-none">
                <thead>
                   <tr>
                        <th colspan="4">
                            <span>Водитель:</span><span> {{last_name}} {{first_name}} {{middle_name}}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4">
                            <span>Общая сумма:</span>
                            <span> руб.</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Дата</th>
                        <th>Причина</th>
                        <th>Сумма, руб.</th>
                        <th>Действие</th>
                    </tr>
                    <tr data-id="{{id}}">
                        <td>{{toIsoString rent_start 'DD.MM.YYYY'}} - {{toIsoString rent_finished 'DD.MM.YYYY'}}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="delete-btn-wrapper">
            <button class="btn btn-danger js-tableEssence-remove" data-id="{{id}}" data-target="detailing-cars">Удалить ведомость</button>
        </div>
    </div>
</section>
<div style="display: none">
    <p id="js-reservs-data">{{stringify reservs}}</p>
</div>