<style>
    .js-editable-body .non-editable-content {
        display: block;
        padding-top: 7px;
        font-weight: bold;
    }

    .js-editable-body .editable-content {
        display: none;
    }

    .js-editable-body.editable-on .editable-content {
        display: block;
    }

    .js-editable-body.editable-on .non-editable-content {
        display: none;
    }

    .footer-btn-block-resrvation {
        display: flex;
    }

    .footer-resrvation-save-btn {
        margin-right: auto;
    }

    .footer-resrvation-end-btn {
        margin-left: auto;
        margin-right: 10px;
    }
</style>

<header class="page-header">
    <h2>Расход денежных средств</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Расход</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Новый документ расхода</h2>
            </header>
            {{#each costs}}
                <div class="panel-body js-editable-body">
                    <form id="js-costs-add-form" action="/api/costs/update" class="form-horizontal mb-lg"
                        novalidate="novalidate">
                        <input type="hidden" name="id" value="{{id}}">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Дата</label>
                            <div class="non-editable-content" data-target="date">
                                {{toIsoString this.date 'DD.MM.YYYY'}}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input value="{{toIsoString this.date 'YYYY-MM-DD'}}" name="date" type="date"
                                    class="form-control" placeholder="Введите дату" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Основание</label>
                            <div class="col-sm-8">
                                {{#if document_id}}
                                    <a
                                        href="/{{compare code 'CRR' 'car-reservation' 'apartment-reservations'}}/{{document_id}}">{{base}}</a>
                                {{else if driver_id}}
                                    <a href="/drivers/{{../driver.id}}" target="__blank">{{../driver.name}}</a>
                                {{else}}
                                    <p>{{base}}</p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Статья расходов</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="non-editable-content" data-target="category">
                                        {{category}}
                                    </div>
                                    <div class="editable-content">
                                        <select style="width: 100%" name="category_id" id="js-costsForm-category-view">
                                            <option value="" selected disabled>Выберите статью расхода из списка
                                            </option>
                                            {{#each ../costsCategories}}
                                                <option {{compare id ../category_id 'selected' ''}} value="{{this.id}}">
                                                    {{this.title}}</option>
                                            {{/each}}
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button">Добавить</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Касса / счет</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="non-editable-content" data-target="cashbox_name">
                                        {{cashbox_name}}
                                    </div>
                                    <div class="editable-content">
                                        <select style="width: 100%" name="cash_storage_id"
                                            id="js-costsForm-cashStorages-view">
                                            <option value="" selected disabled>Выберите кассу / счёт из списка</option>
                                            {{#each ../cashStorages}}
                                                <option {{compare id ../cash_storage_id 'selected' ''}} value="{{id}}">
                                                    {{name}}</option>
                                            {{/each}}
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button">Добавить</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Сумма</label>
                            <div class="non-editable-content" data-target="sum">
                                {{sum}}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input value="{{sum}}" type="number" name="sum" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Комментарий</label>
                            <div class="non-editable-content" data-target="comment">
                                {{comment}}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <textarea value="{{comment}}" name="comment" cols="20" rows="4" class="form-control"
                                    placeholder="Введите комментарий" required>{{comment}}</textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right editable-content">
                            <div class="footer-btn-block-resrvation">
                                <button class="btn btn-success footer-resrvation-save-btn">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            {{/each}}
            <div class="footer-btn-block-resrvation">
                {{#unless item.completed}}
                    <button class="btn btn-primary js-toggleEditable">Редактировать</button>
                    <button class="btn btn-danger footer-resrvation-end-btn">Завершить</button>
                    <button data-target="costs" data-id="{{id}}" class="btn btn-danger js-tableEssence-remove">Удалить
                        документ</button>
                {{/unless}}
            </div>
        </section>
    </div>
</section>

<!-- Модалки-->

<div id="add-products" class="modal-block modal-block-primary mfp-hide" style="max-width: 700px;">

</div>
<script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>