<header class="page-header">
    <h2>Расход денежных средств</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Расход</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <h2 class="panel-title">Список документов расхода</h2>
    </header>
    <div class="panel-body">
        <button href="#add-products" type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-default modal-with-form">
            <i class="fa fa-plus"></i> Добавить документ
        </button>
        <div class="zag">
            <h1>заглушка</h1>
        </div>
        <div class="table-responsive">
            <table id="js-costs-table"
                class="display table table-bordered table-striped table-condensed mb-none customize"
                style="width:100%; display: none">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Номер</th>
                        <th>На кого</th>
                        <th>Статья</th>
                        <th>Касса/Счет</th>
                        <th>Сумма</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each costs}}
                        <tr>
                            <td>{{toIsoString date 'DD.MM.YYYY'}}</td>
                            <td>{{id}}</td>
                            <td>{{toCost}}</td>
                            <td>{{category}}</td>
                            <td>{{cashbox_name}}</td>
                            <td>{{sum}}</td>
                            <td><a href="/costs/{{this.id}}" target="_blank">Подробнее</a></td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Дата</th>
                        <th>Номер</th>
                        <th>На кого</th>
                        <th>Статья</th>
                        <th>Касса/Счет</th>
                        <th>Сумма</th>
                        <th>Подробнее</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</section>

<!-- Модалки-->

<div id="add-products" class="modal-block modal-block-primary mfp-hide" style="max-width: 700px;">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Новый документ расхода</h2>
        </header>
        <div class="panel-body">
            <form id="js-costs-add-form" action="/api/costs/add" class="form-horizontal mb-lg" novalidate="novalidate">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Дата</label>
                    <div class="col-sm-8">
                        <input name="date" type="date" class="form-control" placeholder="Введите дату" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Основание</label>
                    <div class="col-sm-8">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-accordion">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse1One">
                                            Документ
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1One" class="accordion-body collapse">
                                    <div class="panel-body">
                                        <select style="width: 100%" name="base_id" class="js-select2-init" data-modal="#add-products">
                                            <option value="" selected disabled>Выберите документ из списка</option>
                                            {{#each groupDocuments}}
                                                <optgroup label="{{this.label}}">
                                                    {{#each documents}}
                                                        <option value="{{code}}">{{code}} {{subcode}}</option>
                                                    {{/each}}
                                                </optgroup>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-accordion">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse1Two">
                                            Другое
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1Two" class="accordion-body collapse">
                                    <div class="panel-body">
                                        <input type="text" name="base_other" class="form-control"
                                            placeholder="Введите основание" required>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-accordion">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse4">
                                            Поставщики
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="accordion-body collapse">
                                    <div class="panel-body">
                                        <select style="width: 100%" name="supplier_id" class="js-select2-init"
                                            data-ajax="/api/suppliers/getSelect2" data-modal="#add-products">
                                            <option value="" selected disabled>Выберите поставщика из списка</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-accordion">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse1Three">
                                            Лица
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1Three" class="accordion-body collapse">
                                    <div class="panel-body">
                                        <select style="width: 100%" name="driver_id" class="js-select2-init" data-modal="#add-products">
                                            <option value="" selected disabled>Выберите лицо из списка</option>
                                            {{#each drivers}}
                                                <option value="{{id}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Статья расходов</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <select style="width: 100%" name="category_id" id="js-costsForm-category"
                                class="js-select2-init" data-ajax="/api/costs-categories/select2"
                                data-modal="#add-products">
                                <option value="" selected disabled>Выберите статью расхода из списка</option>
                            </select>
                            <span class="input-group-btn">
                                <a class="btn btn-primary" type="button" href="/costs-categories"
                                    target="_blank">Добавить</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Касса / счет</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <select style="width: 100%" name="cash_storage_id" id="js-costsForm-cashStorages"
                                class="js-select2-init" data-ajax="/api/cashStorages/select2"
                                data-modal="#add-products">
                                <option value="" selected disabled>Выберите кассу / счёт из списка</option>
                            </select>
                            <span class="input-group-btn">
                                <a class="btn btn-primary" type="button" href="/cash-storages"
                                    target="_blank">Добавить</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Сумма</label>
                    <div class="col-sm-8">
                        <input type="number" name="sum" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Комментарий</label>
                    <div class="col-sm-8">
                        <textarea name="comment" cols="20" rows="4" class="form-control"
                            placeholder="Введите комментарий" required></textarea>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary js-nomenclature-products-add">Подтвердить</button>
                    <button class="btn btn-default modal-dismiss js-nomenclature-products-cancel">Отмена</button>
                </div>
            </form>
        </div>
    </section>
</div>
<script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>