<header class="page-header">
    <h2>Расход денежных средств</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Расход</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <h2 class="panel-title">Список документов расхода</h2>
    </header>
    <div class="panel-body">
        <button href="#add-products" type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-default modal-with-form">
            <i class="fa fa-plus"></i> Добавить документ
        </button>
        <div class="zag">
            <h1>заглушка</h1>
        </div>
        <div class="table-responsive">
            <table id="js-costs-table"
                class="display table table-bordered table-striped table-condensed mb-none customize"
                style="width:100%; display: none">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Номер</th>
                        <th>На кого</th>
                        <th>Статья</th>
                        <th>Касса/Счет</th>
                        <th>Сумма</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each costs}}
                        <tr>
                            <td>{{toIsoString date 'DD.MM.YYYY'}}</td>
                            <td>{{id}}</td>
                            <td>{{toCost}}</td>
                            <td>{{category}}</td>
                            <td>{{cashbox_name}}</td>
                            <td>{{sum}}</td>
                            <td><a href="/costs/{{this.id}}" target="_blank">Подробнее</a></td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Дата</th>
                        <th>Номер</th>
                        <th>На кого</th>
                        <th>Статья</th>
                        <th>Касса/Счет</th>
                        <th>Сумма</th>
                        <th>Подробнее</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</section>

<!-- Модалки-->

<div id="add-products" class="modal-block modal-block-primary mfp-hide" style="max-width: 700px;">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Новый документ расхода</h2>
        </header>
        <div class="panel-body">
            <form id="js-costs-add-form" action="/api/costs/add" class="form-horizontal mb-lg" novalidate="novalidate">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Дата</label>
                    <div class="col-sm-8">
                        <input name="date" type="date" class="form-control" placeholder="Введите дату" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Основание</label>
                    <div class="col-sm-8">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-accordion">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse1One">
                                            Документ
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1One" class="accordion-body collapse">
                                    <div class="panel-body">
                                        <select style="width: 100%" name="base_id" class="js-select2-init" data-modal="#add-products">
                                            <option value="" selected disabled>Выберите документ из списка</option>
                                            {{#each groupDocuments}}
                                                <optgroup label="{{this.label}}">
                                                    {{#each documents}}
                                                        <option value="{{code}}">{{code}} {{subcode}}</option>
                                                    {{/each}}
                                                </optgroup>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-accordion">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse1Two">
                                            Другое
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1Two" class="accordion-body collapse">
                                    <div class="panel-body">
                                        <input type="text" name="base_other" class="form-control"
                                            placeholder="Введите основание" required>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-accordion">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse4">
                                            Поставщики
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="accordion-body collapse">
                                    <div class="panel-body">
                                        <select style="width: 100%" name="supplier_id" class="js-select2-init"
                                            data-ajax="/api/suppliers/getSelect2" data-modal="#add-products">
                                            <option value="" selected disabled>Выберите поставщика из списка</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-accordion">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse1Three">
                                            Лица
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1Three" class="accordion-body collapse">
                                    <div class="panel-body">
                                        <select style="width: 100%" name="driver_id" class="js-select2-init" data-modal="#add-products">
                                            <option value="" selected disabled>Выберите лицо из списка</option>
                                            {{#each drivers}}
                                                <option value="{{id}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group autos-group">
                    <div class="col-sm-12 control-label" style="text-align:center;">
                        <span>АВТОМОБИЛИ</span>
                    </div>
                    <div class="form-group col-sm-12 autos-group__item">
                        <label class="col-sm-2 control-label">Авто</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select class="form-control" name="">
                                    <option value="0" selected disabled>Выберете автомобиль</option>
                                    <option value=""></option>
                                </select>
                                <input type="number" class="form-control input-sm"
                                    placeholder="руб">
                                <span class="input-group-btn">
                                    <button class="btn btn-default adding-item-autos" type="button">+</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-default deliting-item-autos" type="button">-</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group apartments-group">
                    <div class="col-sm-12 control-label" style="text-align:center;">
                        <span>КВАРТИРЫ</span>
                    </div>
                    <div class="form-group col-sm-12 apartments-group__item">
                        <label class="col-sm-2 control-label">Квартира</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select class="form-control" name="">
                                    <option value="0" selected disabled>Выберете квартиру</option>
                                    <option value=""></option>
                                </select>
                                <input type="number" class="form-control input-sm"
                                    placeholder="руб">
                                <span class="input-group-btn">
                                    <button class="btn btn-default adding-item-apartments" type="button">+</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-default deliting-item-apartments" type="button">-</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group drivers-group">
                    <div class="col-sm-12 control-label" style="text-align:center;">
                        <span>ВОДИТЕЛИ</span>
                    </div>
                    <div class="form-group col-sm-12 drivers-group__item">
                        <label class="col-sm-2 control-label">Водитель</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select class="form-control" name="">
                                    <option value="0" selected disabled>Выберете водителя</option>
                                    <option value=""></option>
                                </select>
                                <input type="number" class="form-control input-sm"
                                    placeholder="руб">
                                <span class="input-group-btn">
                                    <button class="btn btn-default adding-item-drivers" type="button">+</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-default deliting-item-drivers" type="button">-</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group contracts-group">
                    <div class="col-sm-12 control-label" style="text-align:center;">
                        <span>КОНТРАКТЫ</span>
                    </div>
                    <div class="form-group col-sm-12 contracts-group__item">
                        <label class="col-sm-2 control-label">Контракт</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select class="form-control" name="">
                                    <option value="0" selected disabled>Выберете контракт</option>
                                    <option value=""></option>
                                </select>
                                <input type="number" class="form-control input-sm"
                                    placeholder="руб">
                                <span class="input-group-btn">
                                    <button class="btn btn-default adding-item-contracts" type="button">+</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-default deliting-item-contracts" type="button">-</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Статья расходов</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <select style="width: 100%" name="category_id" id="js-costsForm-category"
                                class="js-select2-init" data-ajax="/api/costs-categories/select2"
                                data-modal="#add-products">
                                <option value="" selected disabled>Выберите статью расхода из списка</option>
                            </select>
                            <span class="input-group-btn">
                                <a class="btn btn-primary" type="button" href="/costs-categories"
                                    target="_blank">Добавить</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Касса / счет</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <select style="width: 100%" name="cash_storage_id" id="js-costsForm-cashStorages"
                                class="js-select2-init" data-ajax="/api/cashStorages/select2"
                                data-modal="#add-products">
                                <option value="" selected disabled>Выберите кассу / счёт из списка</option>
                            </select>
                            <span class="input-group-btn">
                                <a class="btn btn-primary" type="button" href="/cash-storages"
                                    target="_blank">Добавить</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Сумма</label>
                    <div class="col-sm-8">
                        <input type="number" name="sum" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Комментарий</label>
                    <div class="col-sm-8">
                        <textarea name="comment" cols="20" rows="4" class="form-control"
                            placeholder="Введите комментарий" required></textarea>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary js-nomenclature-products-add">Подтвердить</button>
                    <button class="btn btn-default modal-dismiss js-nomenclature-products-cancel">Отмена</button>
                </div>
            </form>
        </div>
    </section>
</div>
<script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
<script>
    var btnAddProduct = document.querySelector('.adding-item-autos');
    var btnDeleteProduct = document.querySelector('.deliting-item-autos');
    var table = document.querySelector('.autos-group');

    function insRow() {
        var target = event.target;
        var grItem = table.querySelectorAll('.autos-group__item');
        var new_row = grItem[0].cloneNode(true);
        new_row.querySelector('.adding-item-autos').addEventListener('click', insRow);

        var dateInp = new_row.querySelectorAll('input');
        for (var i = 0; i < dateInp.length; i++) {
            dateInp[i].value = '';
        }

        table.appendChild(new_row);
        initServiceSelect();
    }

    function delRow() {
        var target = event.target;
        var closeBtn = target.closest('.deliting-item-autos');
        if (!closeBtn) return;

        var grItem = table.querySelectorAll('.autos-group__item');
        var actualTbody = grItem.length;
        if (actualTbody == 1) {
            return;
        } else {
            indexRow = closeBtn.parentNode.parentNode.parentNode.parentNode.remove();
        }
    }

    btnAddProduct.addEventListener('click', insRow);

    table.addEventListener('click', delRow);
</script>
<script>
    var btnAddProductApart = document.querySelector('.adding-item-apartments');
    var btnDeleteProductApart = document.querySelector('.deliting-item-apartments');
    var tableApart = document.querySelector('.apartments-group');

    function insRowApart() {
        var targetApart = event.target;
        var grItemApart = tableApart.querySelectorAll('.apartments-group__item');
        var new_rowApart = grItemApart[0].cloneNode(true);
        new_rowApart.querySelector('.adding-item-apartments').addEventListener('click', insRowApart);

        var dateInpApart = new_rowApart.querySelectorAll('input');
        for (var i = 0; i < dateInpApart.length; i++) {
            dateInpApart[i].value = '';
        }

        tableApart.appendChild(new_rowApart);
        initServiceSelect();
    }

    function delRowApart() {
        var targetApart = event.target;
        var closeBtnApart = targetApart.closest('.deliting-item-apartments');
        if (!closeBtnApart) return;

        var grItemApart = tableApart.querySelectorAll('.apartments-group__item');
        var actualTbodyApart = grItemApart.length;
        if (actualTbodyApart == 1) {
            return;
        } else {
            indexRowApart = closeBtnApart.parentNode.parentNode.parentNode.parentNode.remove();
        }
    }

    btnAddProductApart.addEventListener('click', insRowApart);

    tableApart.addEventListener('click', delRowApart);
</script>
<script>
    var btnAddProductDrivers = document.querySelector('.adding-item-drivers');
    var btnDeleteProductDrivers = document.querySelector('.deliting-item-drivers');
    var tableDrivers = document.querySelector('.drivers-group');

    function insRowDrivers() {
        var targetDrivers = event.target;
        var grItemDrivers = tableDrivers.querySelectorAll('.drivers-group__item');
        var new_rowDrivers = grItemDrivers[0].cloneNode(true);
        new_rowDrivers.querySelector('.adding-item-drivers').addEventListener('click', insRowDrivers);

        var dateInpDrivers = new_rowDrivers.querySelectorAll('input');
        for (var i = 0; i < dateInpDrivers.length; i++) {
            dateInpDrivers[i].value = '';
        }

        tableDrivers.appendChild(new_rowDrivers);
        initServiceSelect();
    }

    function delRowDrivers() {
        var targetDrivers = event.target;
        var closeBtnDrivers = targetDrivers.closest('.deliting-item-drivers');
        if (!closeBtnDrivers) return;

        var grItemDrivers = tableDrivers.querySelectorAll('.drivers-group__item');
        var actualTbodyDrivers = grItemDrivers.length;
        if (actualTbodyDrivers == 1) {
            return;
        } else {
            indexRowDrivers = closeBtnDrivers.parentNode.parentNode.parentNode.parentNode.remove();
        }
    }

    btnAddProductDrivers.addEventListener('click', insRowDrivers);

    tableDrivers.addEventListener('click', delRowDrivers);
</script>
<script>
    var btnAddProductContr = document.querySelector('.adding-item-contracts');
    var btnDeleteProductContr = document.querySelector('.deliting-item-contracts');
    var tableContr = document.querySelector('.contracts-group');

    function insRowContr() {
        var targetContr = event.target;
        var grItemContr = tableContr.querySelectorAll('.contracts-group__item');
        var new_rowContr = grItemContr[0].cloneNode(true);
        new_rowContr.querySelector('.adding-item-contracts').addEventListener('click', insRowContr);

        var dateInpContr = new_rowContr.querySelectorAll('input');
        for (var i = 0; i < dateInpContr.length; i++) {
            dateInpContr[i].value = '';
        }

        tableContr.appendChild(new_rowContr);
        initServiceSelect();
    }

    function delRowContr() {
        var targetContr = event.target;
        var closeBtnContr = targetContr.closest('.deliting-item-contracts');
        if (!closeBtnContr) return;

        var grItemContr = tableContr.querySelectorAll('.contracts-group__item');
        var actualTbodyContr = grItemContr.length;
        if (actualTbodyContr == 1) {
            return;
        } else {
            indexRowContr = closeBtnContr.parentNode.parentNode.parentNode.parentNode.remove();
        }
    }

    btnAddProductContr.addEventListener('click', insRowContr);

    tableContr.addEventListener('click', delRowContr);
</script>