<style>
    .js-editable-body .non-editable-content,
    .style-non-editable {
        display: block;
        padding-top: 7px;
        font-weight: bold;
    }

    .js-editable-body .editable-content {
        display: none;
    }

    .js-editable-body.editable-on .editable-content {
        display: block;
    }

    .js-editable-body.editable-on .non-editable-content {
        display: none;
    }

    .footer-btn-block-resrvation {
        display: flex;
    }

    .footer-resrvation-save-btn {
        margin-right: auto;
    }

    .footer-resrvation-end-btn {
        margin-left: auto;
        margin-right: 10px;
    }
</style>

<header class="page-header">
    <h2>Прайс</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Прайс</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Подробнее о позиции</h2>
            </header>
            {{#each prices}}
                <div class="panel-body js-editable-body">
                    <form action="/api/price-list/update" id="js-price-list-add-form" class="form-horizontal mb-lg"
                        novalidate="novalidate">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <div class="form-group mt-lg">
                            <label class="col-sm-4 control-label">Марка автомобиля</label>
                            <div class="non-editable-content" data-target="name">
                                {{this.name}}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input value="{{this.name}}" name="name" type="text" class="form-control"
                                    placeholder="Введите марку" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Модель</label>
                            <div class="non-editable-content" data-target="model">
                                {{this.model}}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input value="{{this.model}}" name="model" type="text" class="form-control"
                                    placeholder="Введите модель" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Класс</label>
                            <div class="non-editable-content" data-target="class_name">
                                {{this.class_name}}
                            </div>
                            <div class="col-sm-4 editable-content">
                                <input value="{{this.class_name}}" name="class_name" type="text" class="form-control"
                                    placeholder="Введите класс">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Цена в сутки, руб</label>
                            <div class="non-editable-content" data-target="price_per_day">
                                {{this.price_per_day}}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input value="{{this.price_per_day}}" name="price_per_day" type="number"
                                    class="form-control prices-control-class" placeholder="Введите цену" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Залог, руб.</label>
                            <div class="non-editable-content" data-target="pledge">
                                {{this.pledge}}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input value="{{this.pledge}}" name="pledge" type="number" class="form-control prices-control-class"
                                    placeholder="Введите цену" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Лимит км в сутки</label>
                            <div class="non-editable-content" data-target="limit_per_day">
                                {{this.limit_per_day}}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input value="{{this.limit_per_day}}" name="limit_per_day" type="number"
                                    class="form-control prices-control-class" placeholder="Введите расстояние" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Цена перепробега за км, руб.</label>
                            <div class="non-editable-content" data-target="surcharge">
                                {{this.surcharge}}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input value="{{this.surcharge}}" name="surcharge" type="number" class="form-control prices-control-class"
                                    placeholder="Введите пробег" required>
                            </div>
                        </div>
                        <div class="col-md-12 text-right editable-content">
                            <button class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                </div>
                <div>
                    <button class="btn btn-primary js-toggleEditable">Редактировать</button>
                    <button data-id="{{id}}" data-target="priceList"
                        class="btn btn-danger js-tableEssence-remove">Удалить</button>
                </div>
        </section>
        {{/each}}
    </div>
</section>
<script>
  'use strict';
  const pricesControlClass = document.querySelectorAll('.prices-control-class');
  pricesControlClass.forEach(function(item) {
    item.addEventListener('input', function(evt) {
        this.value < 0 ? this.value = 0 : this.value;
    });
  });
</script>