<header class="page-header">
    <h2>Прайс</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Прайс</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <h2 class="panel-title">Список позиций</h2>
    </header>
    <div class="panel-body">
        <button href="#add-products" type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-default modal-with-form">
            <i class="fa fa-plus"></i> Добавить авто
        </button>
        <div class="zag">
            <h1>заглушка</h1>
        </div>
        <div class="table-responsive">
            <table id="js-price-list-table"
                class="display table table-bordered table-striped table-condensed mb-none customize"
                style="width:100%; display: none">
                <thead>
                    <tr>
                        <th>Марка, модель</th>
                        <th>Цена, руб/сут.</th>
                        <th>Лимит, км/сут.</th>
                        <th>Пер-ег, руб/км</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each prices}}
                        <tr>
                            <td>{{this.name}} {{this.model}}</td>
                            <td>{{this.price_per_day}}</td>
                            <td>{{this.limit_per_day}}</td>
                            <td>{{this.surcharge}}</td>
                            <td>
                                <a href="/price-list/{{this.id}}" target="_blank">Подробнее</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Марка, модель</th>
                        <th>Цена, руб/сут.</th>
                        <th>Лимит, км/сут.</th>
                        <th>Пер-ег, руб/км</th>
                        <th>Подробнее</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<!-- Модалки-->

<div id="add-products" class="modal-block modal-block-primary mfp-hide" style="max-width: 700px;">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Добавление нового авто</h2>
        </header>
        <div class="panel-body">
            <form action="/api/priceList/add" id="js-price-list-add-form" class="form-horizontal mb-lg"
                novalidate="novalidate">
                <div class="form-group mt-lg">
                    <label class="col-sm-4 control-label">Марка автомобиля</label>
                    <div class="col-sm-8">
                        <select style="width: 100%" id="js-pricesList-carNames-select" name="name">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Модель</label>
                    <div class="col-sm-8">
                        <select style="width: 100%" id="js-pricesList-carModels-select" name="model">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Класс</label>
                    <div class="col-sm-4">
                        <input name="class_name" type="text" class="form-control" placeholder="Введите класс">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Цена в сутки, руб</label>
                    <div class="col-sm-8">
                        <input name="price_per_day" type="number" class="form-control prices-control-class" placeholder="Введите цену"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Залог, руб.</label>
                    <div class="col-sm-8">
                        <input name="pledge" type="number" class="form-control prices-control-class" placeholder="Введите цену" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Лимит км в сутки</label>
                    <div class="col-sm-8">
                        <input name="limit_per_day" type="number" class="form-control prices-control-class" placeholder="Введите расстояние"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Цена перепробега за км, руб.</label>
                    <div class="col-sm-8">
                        <input name="surcharge" type="number" class="form-control prices-control-class" placeholder="Введите пробег"
                            required>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary">Подтвердить</button>
                    <button class="btn btn-default modal-dismiss">Отмена</button>
                </div>
            </form>
        </div>
    </section>
</div>
<script>
  'use strict';
  const pricesControlClass = document.querySelectorAll('.prices-control-class');
  pricesControlClass.forEach(function(item) {
    item.addEventListener('input', function(evt) {
        this.value < 0 ? this.value = 0 : this.value;
    });
  });
</script> 