<style>
    .controls_details {
        display: block;
        width: 100%;
    }

    .controls_details-child {
        margin-bottom: 15px;
    }

    .controls_details_date-range {
        display: flex;
        max-width: 350px;
    }

    .header-details {
        font-size: 15px;
        font-weight: 600;
    }

    .header-details_span {
        margin: 0;
        display: block;
        font-size: 12px;
        color: #a6a8ab;
    }

    .save_and_print_buttons {
        margin-top: 15px;
    }
</style>

<header class="page-header">
    <h2>Детализация транспортных услуг</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Детализация транспортных услуг</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <h2 class="panel-title">Сохраненные документы детализаций транс-ых услуг</h2>
    </header>
    <div class="panel-body">
        <div class="zag">
            <h1>заглушка</h1>
        </div>
        <div class="table-responsive">
            <table id="js-detailing-cars-list"
                class="display table table-bordered table-striped table-condensed mb-none customize"
                style="width:100%; display: none;">
                <thead>
                    <tr>
                        <th>Дата формирования</th>
                        <th>Номер</th>
                        <th>Заказчик</th>
                        <th>Сумма</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each detailing}}
                        <tr>
                            <td>{{toIsoString created 'DD.MM.YYYY'}}</td>
                            <td>{{id}}</td>
                            <td>{{customer_name}}</td>
                            <td>{{sum}}</td>
                            <td>
                                <a href="/detailing-cars/{{id}}" target="_blank">Подробнее</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Дата формирования</th>
                        <th>Номер</th>
                        <th>Заказчик</th>
                        <th>Сумма</th>
                        <th>Подробнее</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Детализация</h2>
    </header>

    <div class="panel-body">

        <div class="controls_details">
            <div class="controls_details-child date-range_details col-md-12">
                <p class="header-details">Временной период</p>
                <div class="controls_details_date-range input-daterange input-group">
                    <input id="js-detailing-car-from-period" type="date" class="form-control">
                    <input id="js-detailing-car-end-period" type="date" class="form-control">
                </div>
            </div>

            <div class="controls_details-child customer-control_details col-md-6">
                <p class="header-details">Заказчик</p>
                <div class="controls_details_date-range">
                    <select id="" class="js-select2-init js-detailing-cars-customer form-control" data-ajax="/api/customers/select2">
                        <option value="" disabled selected>Сортировка по заказчику</option>
                    </select>
                </div>
            </div>

            <div class="controls_details-child driver-control_details col-md-6">
                <p class="header-details">Водитель</p>
                <div class="controls_details_date-range">
                    <select id="js-detailing-cars-driver" class="form-control">
                        <option value="" disabled selected>Сортировка по водителю</option>
                        <option value="">Без сортировки</option>
                        {{#each drivers}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="controls_details-child passenger-control_details col-md-6">
                <p class="header-details">Пассажир</p>
                <div class="controls_details_date-range">
                    <select id="js-detailing-cars-passenger" class="form-control">
                        <option value="" disabled selected>Сортировка по пассажиру</option>
                        <option value="">Без сортировки</option>
                        {{#each passengers}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="controls_details-child car-control_details col-md-6">
                <p class="header-details">Автомобиль</p>
                <div class="controls_details_date-range">
                    <select id="js-detailing-cars-car" class="form-control">
                        <option value="" disabled selected>Сортировка по автомобилю</option>
                        <option value="">Без сортировки</option>
                        {{#each cars}}
                            <option value="{{id}}">{{name}} {{model}} {{number}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="controls_details-child manager-control_details col-md-6">
                <p class="header-details">Менеджер</p>
                <div class="controls_details_date-range">
                    <select id="js-detailing-cars-manager" class="form-control">
                        <option value="" disabled selected>Сортировка по менеджеру</option>
                        <option value="">Без сортировки</option>
                        {{#each managers}}
                            <option value="{{id}}">{{first_name}} {{last_name}} {{middle_name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="controls_details-child with-without-driver_details col-md-8">
                <p class="header-details">Заявки с водителем или без <span class="header-details_span">(если не выбрано
                        ничего - в выборку попадает всё)</span></p>
                <div class="checkbox-custom checkbox-default col-md-4">
                    <input class="js-detailing-cars-with-driver" value="1" type="checkbox" id="checkboxExample1">
                    <label for="checkboxExample1">С водителем</label>
                </div>
                <div class="checkbox-custom checkbox-default col-md-4">
                    <input class="js-detailing-cars-without-driver" value="1" type="checkbox" id="checkboxExample2">
                    <label for="checkboxExample2">Без водителя</label>
                </div>
            </div>
        </div>
        <div class="create_button col-md-12">
            <button class="btn btn-primary js-detailing-cars-accept">Сформировать</button>
        </div>
        <div class="after_create-wrapper">
            <div class="save_and_print_buttons col-md-7">
                <button class="js-detailing-cars-save btn btn-success">Сохранить</button>
                <button class="js-detailing-cars-print btn btn-info">Распечатать</button>
                <button class="js-detailing-cars-cancel btn btn-default">Отмена</button>
                <br>
                <br>
            </div>

            <table class="js-detailing-cars-reservs-list table table-bordered table-striped mb-none">
                <thead>
                    <tr>
                        <th colspan="5" style="text-align: right;">Общая сумма:</th>
                        <th><span id="js-detailing-cars-total-sum">0</span> руб.</th>
                    </tr>
                    <tr>
                        <th>Даты</th>
                        <th>Заказчик</th>
                        <th>Водитель</th>
                        <th>Маршрут</th>
                        <th>Сумма</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</section>
<script src="/assets/javascripts/detailing-cars.js" defer></script>