<header class="page-header">
    <h2>Заказы аренды авто</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Заказы авто</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <h2 class="panel-title">Список заказов авто в аренду</h2>
    </header>
    <div class="panel-body">
        {{#unless isArchive}}
            <button href="#add-products" type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-default modal-with-form">
                <i class="fa fa-plus"></i> Создать заказ
            </button>
        {{/unless}}
        <div class="zag">
            <h1>заглушка</h1>
        </div>
        <div class="table-responsive">
            <table id="js-carReservations-table"
                class="table table-bordered table-striped table-condensed mb-none customize"
                style="width:100%; display: none">
                <thead>
                    <tr>
                        <th>Водитель</th>
                        <th>Начало аренды</th>
                        <!--<th>Номер</th>-->
                        <th>Маршрут</th>
                        <!--<th>Дата заказа</th>-->
                        <!--<th>Заказчик</th> -->
                        <th>Пассажир</th>
                        <!--<th>Водитель</th>-->
                        <th>Статус</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each reservs}}
                        <tr style="{{compare orange 1 'background-color: orange' ''}}">
                            <td>{{compare has_driver '1' 'С водителем' 'Без водителя'}}</td>
                            <td>{{toIsoString this.rent_start 'DD.MM.YYYY HH:mm'}}</td>
                            <!--<td>{{this.id}}</td>-->
                            <td>{{this.itinerarie_name}}</td>
                            <!--<td>{{toIsoString this.created_at 'DD.MM.YYYY'}}</td> -->
                            <!--<td>{{this.customer_name}}</td>-->
                            <td>{{this.passenger_name}}</td>
                            <!--<td>{{this.driver_name}}</td>-->
                            <td>{{this.status_name}}</td>
                            <td>
                                <a href="/car-reservation/{{this.id}}" target="_blank">Подробнее</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Водитель</th>
                        <th>Начало аренды</th>
                        <!--<th>Номер</th>-->
                        <th>Маршрут</th>
                        <!--<th>Дата заказа</th>-->
                        <!--<th>Заказчик</th>-->
                        <th>Пассажир</th>
                        <!--<th>Водитель</th>-->
                        <th>Статус</th>
                        <th>Подробнее</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    {{#unless isArchive}}
        <a class="btn btn-primary" href="/car-reservation/archive" target="_blank">Завершенные заявки</a>
    {{/unless}}
</section>

<!-- Модалки-->

<div id="add-products" class="modal-block modal-block-primary mfp-hide" style="max-width: 700px;">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Заявка на аренду авто</h2>
        </header>
        <div class="panel-body">
            <form id="js-carReservations-form" action="/api/carReservations/add" class="form-horizontal mb-lg"
                novalidate="novalidate">
                <div class="form-group mt-lg group-drivers">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        <div class="checkbox-custom checkbox-primary">
                            <input class="group-drivers__checkbox" type="checkbox" name="has_driver" value="1"
                                id="checkboxdriver">
                            <label class="group-drivers__label" for="checkboxdriver">БЕЗ ВОДИТЕЛЯ</label>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-lg">
                    <label class="col-sm-3 control-label">Заказчик</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select style="width: 100%" id="js-carReservs-customerId" name="customer_id"
                                class="form-control">
                                <option value="0" selected disabled>Выберете заказчика</option>
                            </select>
                            <span class="input-group-btn">
                                <a class="btn btn-primary" type="button" href="/customers" target="_blank">Добавить</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Cкидка заказчика</label>
                    <div class="col-sm-6">
                        <input name="discount" class="form-control" value="{{this.discount}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Пассажир</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select style="width: 100%" id="js-select2-clients-id" name="passenger_id"
                                class="form-control">
                                <option value="0" selected disabled>Выберете пассажира</option>
                                {{#each passengers}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                            <span class="input-group-btn">
                                <a class="btn btn-primary" type="button" href="/clients" target="_blank">Добавить</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Дата начала аренды</label>
                    <div class="col-sm-9">
                        <div class="">
                            <input class="form-control" type="datetime-local" name="rent_start">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Окончание аренды</label>
                    <div class="col-sm-9">
                        <div class="">
                            <input class="form-control" type="datetime-local" name="rent_finished">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Контактный телефон</label>
                    <div class="col-sm-9">
                        <input name="contact_number" placeholder="+7(123) 123-12-34" class="form-control phone-input"
                            required>
                    </div>
                </div>
                <div class="form-group group-drivers__hide-vis" style="display: none;">
                    <label class="col-sm-3 control-label">Водитель</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select name="driver_id" class="form-control" style="width: 100%">
                                <option value="" selected disabled>Выберете водителя</option>
                                {{#each drivers}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Добавить</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Автомобиль</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select style="width: 100%" id="js-carsListModal-select" name="car_id" class="form-control">
                                <option value="" selected disabled>Выберете автомобиль</option>
                            </select>
                            <span class="input-group-btn">
                                <a class="btn btn-primary" type="button" href="/cars" target="_blank">Добавить</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Класс автомобиля</label>
                    <div class="col-sm-3">
                        <input id="js-carClassNameModal-input" name="class_name" type="text" class="form-control"
                            placeholder="Введите класс" required>
                    </div>
                </div>
                <div class="form-group group-drivers__hide-vis" style="display: none;">
                    <label class="col-sm-2 control-label">Маршрут</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <select id="js-car-reservation-itinerarie_id" name="itinerarie_id" class="form-control"
                                style="width: 100%">
                                <option value="0" selected disabled>Выберете маршрут</option>
                                {{#each itineraries}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                            <span class="input-group-btn">
                                <a class="btn btn-primary" type="button" href="/itineraries" target="_blank">Добавить</a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Предварительная сумма</label>
                    <div class="col-sm-8">
                        <input type="number" name="prepayment" class="form-control prices-control-class"
                            placeholder="Введите сумму" value="0" required>
                    </div>
                </div>

                <div class="form-group services-group">
                    <div class="form-group">
                        <label class="col-sm-12 control-label"
                            style="text-transform: uppercase; font-weight: bold; text-align: center;">Дополнительные
                            услуги</label>
                    </div>
                    <div class="form-group col-sm-12 services-group__item">
                        <label class="col-sm-2 control-label">Услуга</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <select class="form-control" name="services">
                                    <option value="0" selected disabled>Выберете услугу</option>
                                    {{#each additionalServices}}
                                        <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                                <span class="input-group-btn">
                                    <a class="btn btn-primary" type="button" href="/additional-services"
                                        target="_blank">Добавить</a>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-default adding-item" type="button">+</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-default deliting-item" type="button">-</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Комментарий</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="comment" cols="30" rows="5"
                            placeholder="Введите комментарий"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Общая сумма</label>
                    <div class="col-sm-8">
                        <input name="sum" type="number" class="form-control prices-control-class"
                            placeholder="Введите сумму" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-success">Принять</button>
                        <button class="btn btn-default modal-dismiss">Отмена</button>
                    </div>
                </div>
            </form>
            {{#each additionalServices}}
                <input type="hidden" class="service-info" value="{{id}}" data-price="{{price}}">
            {{/each}}
        </div>
    </section>
</div>

<script src="/assets/vendor/inputmask/inputmask.dependencyLib.min.js"></script>
<script src="/assets/vendor/inputmask/inputmask.min.js"></script>
<script src="/assets/vendor/inputmask/inputmask.custom.js"></script>
<script src="/assets/javascripts/car-reservation.js" defer></script>


<script>
    'use strict';
    const pricesControlClass = document.querySelectorAll('.prices-control-class');
    pricesControlClass.forEach(function (item) {
        item.addEventListener('input', function (evt) {
            this.value < 0 ? this.value = 0 : this.value;
        });
    });
</script>

<script>
    var btnAddProduct = document.querySelector('.adding-item');
    var btnDeleteProduct = document.querySelector('.deliting-item');
    var table = document.querySelector('.services-group');

    function insRow() {
        var target = event.target;
        var grItem = table.querySelectorAll('.services-group__item');
        var new_row = grItem[0].cloneNode(true);
        new_row.querySelector('.adding-item').addEventListener('click', insRow);

        var dateInp = new_row.querySelectorAll('input');
        for (var i = 0; i < dateInp.length; i++) {
            dateInp[i].value = '';
        }

        table.appendChild(new_row);
    }

    function delRow() {
        var target = event.target;
        var closeBtn = target.closest('.deliting-item');
        if (!closeBtn) return;

        var grItem = table.querySelectorAll('.services-group__item');
        var actualTbody = grItem.length;
        if (actualTbody == 1) {
            return;
        } else {
            indexRow = closeBtn.parentNode.parentNode.parentNode.parentNode.remove();
        }
    }

    btnAddProduct.addEventListener('click', insRow);

    table.addEventListener('click', delRow);
</script>
<script>
    "use strict"
    const driversGroup = document.querySelector('.group-drivers');
    const driversGroupCheckbox = driversGroup.querySelector('.group-drivers__checkbox');
    const driversGroupLabel = driversGroup.querySelector('.group-drivers__label');
    const driversGroupHV = document.querySelectorAll('.group-drivers__hide-vis');

    driversGroupCheckbox.addEventListener('click', () => {
        if (driversGroupCheckbox.checked) {
            driversGroupLabel.innerHTML = 'С ВОДИТЕЛЕМ';
            for (let i = 0; i < driversGroupHV.length; i++) {
                driversGroupHV[i].style.display = 'block';
            }
        } else {
            driversGroupLabel.innerHTML = 'БЕЗ ВОДИТЕЛЯ';
            for (let i = 0; i < driversGroupHV.length; i++) {
                driversGroupHV[i].style.display = 'none';
            }
        }
    });

</script>