<style>
    .js-editable-body .non-editable-content,
    .style-non-editable {
        display: block;
        padding-top: 7px;
        font-weight: bold;
    }

    .js-editable-body .editable-content {
        display: none;
    }

    .js-editable-body.editable-on .editable-content {
        display: block;
    }

    .js-editable-body.editable-on .non-editable-content {
        display: none;
    }

    .footer-btn-block-resrvation {
        display: flex;
    }

    .footer-resrvation-save-btn {
        margin-right: auto;
    }

    .footer-resrvation-end-btn {
        margin-left: auto;
        margin-right: 10px;
    }

    .reservation-send-block {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }

    .reservation-send-block--child {
        margin: auto 10px auto 10px;
    }


    .reservation-send-btn {
        margin-left: 20px;
    }
</style>

<header class="page-header">
    <h2>Заказы авто с водителем</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Заказы авто с водителем</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Заявка на авто № {{this.id}}</h2>
            </header>
            {{#each reservs}}
                <div class="panel-body js-editable-body">
                    <form id="js-carReservations-form" action="/api/carReservations/update"
                        class="form-horizontal mb-lg" novalidate="novalidate">
                        <input type="hidden" name="id" value="{{this.id}}">
                        {{#if can_edit}}
                            <div class="form-group mt-lg group-drivers editable-content">
                                <div class="col-sm-4">
                                </div>
                                <div class="col-sm-8">
                                    <div class="checkbox-custom checkbox-primary">
                                        <input {{ifTrue this.has_driver 'checked' : ''}} class="group-drivers__checkbox"
                                            type="checkbox" id="checkboxdriver" value="1" name="has_driver">
                                        <label class="group-drivers__label" for="checkboxdriver">БЕЗ ВОДИТЕЛЯ</label>
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                        <div class="form-group mt-lg">
                            <label class="col-sm-3 control-label">Заказчик</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="non-editable-content" data-target="customer_name">
                                        {{this.customer_name}}
                                    </div>
                                    {{#if can_edit}}
                                        <div class="editable-content">
                                            <select name="customer_id" class="form-control">
                                                <option value="0" selected disabled>Выберете заказчика</option>
                                                {{#each ../customers}}
                                                    <option {{compare this.id ../customer_id 'selected' ''}}
                                                        value="{{this.id}}">{{this.name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Скидка заказчика</label>
                            <div class="non-editable-content" data-target="discount">
                                {{this.discount}}
                            </div>
                            {{#if can_edit}}
                                <div class="col-sm-6 editable-content">
                                    <input class="form-control" name="discount" value="{{this.customer_discount}}">
                                </div>
                            {{/if}}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Пассажир</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="non-editable-content" data-target="passenger_name">
                                        {{this.passenger_name}}
                                    </div>
                                    {{#if can_edit}}
                                        <div class="editable-content">
                                            <select name="passenger_id" class="form-control">
                                                <option value="0" selected disabled>Выберете пассажира</option>
                                                {{#each ../passengers}}
                                                    <option {{compare this.id ../passenger_id 'selected' ''}}
                                                        value="{{this.id}}">{{this.name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Дата начала аренды</label>
                            <div class="non-editable-content" data-target="rent_start">
                                {{toIsoString rent_start 'DD.MM.YYYY в HH:mm'}}
                            </div>
                            {{#if can_edit}}
                                <div class="col-sm-9 editable-content">
                                    <div class="">
                                        <input value="{{toIsoString rent_start 'YYYY-MM-DDTHH:mm'}}"
                                            class="form-control" type="datetime-local" name="rent_start">
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Окончание аренды</label>
                            <div class="non-editable-content" data-target="rent_finished">
                                {{toIsoString rent_finished 'DD.MM.YYYY в HH:mm'}}
                            </div>
                            {{#if can_edit}}
                                <div class="col-sm-9 editable-content">
                                    <input value="{{toIsoString rent_finished 'YYYY-MM-DDTHH:mm'}}" class="form-control"
                                        type="datetime-local" name="rent_finished">
                                </div>
                            {{/if}}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Контактный телефон</label>
                            <div class="non-editable-content" data-target="contact_number">
                                {{this.contact_number}}
                            </div>
                            {{#if can_edit}}
                                <div class="col-sm-9 editable-content">
                                    <input name="contact_number" value="{{this.contact_number}}"
                                        placeholder="+7 (123) 123-1234" class="form-control" required>
                                </div>
                            {{/if}}
                        </div>
                        <div class="form-group group-drivers__hide-vis" style="display: none;">
                            <label class="col-sm-3 control-label">Водитель</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="non-editable-content" data-target="driver_name">
                                        {{this.driver_name}}
                                    </div>
                                    {{#if can_edit}}
                                        <div class="editable-content">
                                            <select name="driver_id" class="form-control" style="width: 100%">
                                                <option value="" selected disabled>Выберете водителя</option>
                                                {{#each ../drivers}}
                                                    <option {{compare this.id ../driver_id 'selected' ''}}
                                                        value="{{this.id}}">
                                                        {{this.name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Автомобиль</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="non-editable-content">
                                        {{this.car_name}} {{this.car_model}} - {{this.car_number}}
                                    </div>
                                    {{#if can_edit}}
                                        <div class="editable-content">
                                            <select name="car_id" class="form-control">
                                                <option value="" selected disabled>Выберете автомобиль</option>
                                                {{#each ../cars}}
                                                    <option {{compare this.id ../car_id 'selected' ''}}
                                                        value="{{this.id}}">
                                                        {{this.name}} {{this.model}} - {{this.number}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Класс автомобиля</label>
                            <div class="non-editable-content" data-target="class_name">
                                {{this.class_name}}
                            </div>
                            {{#if can_edit}}
                                <div class="col-sm-3 editable-content">
                                    <input name="class_name" value="{{this.class_name}}" type="text"
                                        class="form-control" placeholder="Введите класс" required>
                                </div>
                            {{/if}}
                        </div>
                        <div class="form-group group-drivers__hide-vis" style="display: none;">
                            <label class="col-sm-2 control-label">Маршрут</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="non-editable-content" data-target="itinerarie_name">
                                        {{this.itinerarie_name}}
                                    </div>
                                    {{#if can_edit}}
                                        <div class="editable-content">
                                            <select id="js-car-reservation-itinerarie_id" name="itinerarie_id"
                                                class="form-control">
                                                <option value="0" selected disabled>Выберете маршрут</option>
                                                {{#each ../itineraries}}
                                                    <option {{compare this.id ../itinerarie_id 'selected' ''}}
                                                        value="{{this.id}}">
                                                        {{this.name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group group-drivers__hide-vis" style="display: none;">
                            <div class="col-sm-12">
                                <label class="col-sm-4 control-label">Адрес пункта А в маршруте</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="non-editable-content" data-target="itinerarie_point_a">
                                            {{this.itinerarie_point_a}}
                                        </div>
                                        {{#if can_edit}}
                                            <div class="editable-content">
                                                <input value="{{this.itinerarie_point_a}}" type="text"
                                                    name="itinerarie_point_a" class="form-control"
                                                    placeholder="Введите пункт" required>
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="col-sm-4 control-label">Адрес пункта Б в маршруте</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <div class="non-editable-content" data-target="itinerarie_point_b">
                                            {{this.itinerarie_point_b}}
                                        </div>
                                        {{#if can_edit}}
                                            <div class="editable-content">
                                                <input value="{{this.itinerarie_point_b}}" type="text"
                                                    name="itinerarie_point_b" class="form-control"
                                                    placeholder="Введите пункт" required>
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group services-group">
                            <div class="form-group">
                                <label class="col-sm-12 control-label"
                                    style="text-transform: uppercase; font-weight: bold; text-align: center;">Дополнительные
                                    услуги</label>
                            </div>
                            {{#each ../additionalServices as | adService |}}
                                <div class="form-group col-sm-12 services-group__item">
                                    <label class="col-sm-2 control-label">Услуга</label>
                                    <div class="non-editable-content">
                                        <a href="/additional-services/{{id}}">{{name}}</a>
                                    </div>
                                    <div class="col-sm-10">
                                        {{#if can_edit}}
                                            <div class="editable-content">
                                                <div class="input-group">
                                                    <select name="services" class="form-control">
                                                        <option value="0" selected disabled>Выберете услугу</option>
                                                        {{#each ../../servicesList as | service |}}
                                                            <option {{compare adService.id service.id 'selected' ''}}
                                                                value="{{id}}">{{name}}</option>
                                                        {{/each}}
                                                    </select>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default adding-item"
                                                            type="button">+</button>
                                                    </span>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default deliting-item"
                                                            type="button">-</button>
                                                    </span>
                                                </div>
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Предварительная сумма</label>
                            <div class="non-editable-content" data-target="prepayment">
                                {{this.prepayment}}
                            </div>
                            {{#if can_edit}}
                                <div class="col-sm-8 editable-content">
                                    <input name="prepayment" value="{{this.prepayment}}" type="text"
                                        class="form-control" placeholder="Введите сумму" required>
                                </div>
                            {{/if}}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Комментарий</label>
                            <div class="non-editable-content" data-target="comment">
                                {{this.comment}}
                            </div>
                            {{#if can_edit}}
                                <div class="col-sm-9 editable-content">
                                    <textarea name="comment" class="form-control" cols="30" rows="5"
                                        placeholder="Введите комментарий">{{this.comment}}</textarea>
                                </div>
                            {{/if}}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Общая сумма</label>
                            <div class="non-editable-content" data-target="sum">
                                {{this.sum}}
                            </div>
                            {{#if can_edit}}
                                <div class="col-sm-8 editable-content">
                                    <input name="sum" value="{{this.sum}}" type="text" class="form-control"
                                        placeholder="Введите сумму" required>
                                </div>
                            {{/if}}
                        </div>
                        <div class="form-group group-drivers__hide-vis">
                            <label class="col-sm-4 control-label">Зарплата водителя, руб.</label>
                            <div class="non-editable-content" data-target="driver_salary">
                                {{this.driver_salary}}
                            </div>
                            {{#if can_edit}}
                                <div class="col-sm-8 editable-content">
                                    <input name="driver_salary" value="{{this.driver_salary}}" type="number"
                                        class="form-control" placeholder="Введите сумму" required>
                                </div>
                            {{/if}}
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">Статус</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="status_name">
                                    {{this.status_name}}
                                </div>
                                {{#if can_edit}}
                                    <div class="editable-content">
                                        <div class="checkbox-custom checkbox-warning col-sm-3">
                                            <input {{compare this.status '0' '' 'checked disabled'}} name="status"
                                                value="1" type="checkbox" id="checkboxExample4">
                                            <label for="checkboxExample4">
                                                {{#unless this.status}}
                                                    На приеме
                                                {{else}}
                                                    {{this.status_name}}
                                                {{/unless}}
                                            </label>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        {{#if can_edit}}
                            <div class="col-md-12 text-right editable-content">
                                <div class="footer-btn-block-resrvation">
                                    <button class="btn btn-success footer-resrvation-save-btn">Сохранить</button>
                                </div>
                            </div>
                        {{/if}}
                    </form>
                    <div class="form-group non-editable-content">
                            <label class="col-sm-4 control-label">Отправить сообщение заказчику через:</label>
                            <div class="col-sm-8 reservation-send-block">
                                <div class="checkbox-custom chekbox-primary reservation-send-block--child">
                                    <input class="send-customer__checkbox" type="checkbox" checked
                                        name="send_customer_mail" value="1" id="send_customer_email">
                                    <label class="send-customer__label" for="send_customer_email">EMAIL</label>
                                </div>
                                <div class="checkbox-custom chekbox-primary reservation-send-block--child">
                                    <input class="send-customer____checkbox" type="checkbox" name="send_customer_sms"
                                        value="2" id="send_customer_sms">
                                    <label class="send-customer____label" for="send_customer_sms">SMS</label>
                                </div>
                                <div class="reservation-send-btn">
                                    <button class="btn btn-warning btn--send-message">Отправить</button>
                                </div>
                            </div>
                        </div>
                </div>
            {{/each}}
            <div class="footer-btn-block-resrvation">
                {{#if item.can_edit}}
                    <button class="btn btn-primary js-toggleEditable">Редактировать</button>
                {{/if}}
                {{#unless item.completed}}
                    <button id="js-carReserv-complete" data-id="{{id}}"
                        class="btn btn-danger footer-resrvation-end-btn">Завершить</button>
                    <button data-id="{{id}}" data-target="carReservations"
                        class="btn btn-danger js-tableEssence-remove">Удалить заявку</button>
                {{/unless}}
            </div>
        </section>
    </div>
</section>

<script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
<script>
    var btnAddProduct = document.querySelector('.adding-item');
    var btnDeleteProduct = document.querySelector('.deliting-item');
    var table = document.querySelector('.services-group');

    function insRow() {
        var target = event.target;
        var grItem = table.querySelectorAll('.services-group__item');
        var new_row = grItem[0].cloneNode(true);
        new_row.querySelector('.adding-item').addEventListener('click', insRow);

        var dateInp = new_row.querySelectorAll('input');
        for (var i = 0; i < dateInp.length; i++) {
            dateInp[i].value = '';
        }

        table.appendChild(new_row);
    }

    function delRow() {
        var target = event.target;
        var closeBtn = target.closest('.deliting-item');
        if (!closeBtn) return;

        var grItem = table.querySelectorAll('.services-group__item');
        var actualTbody = grItem.length;
        if (actualTbody == 1) {
            return;
        } else {
            indexRow = closeBtn.parentNode.parentNode.parentNode.parentNode.parentNode.remove();
        }
    }

    $(btnAddProduct).on('click', insRow);

    table.addEventListener('click', delRow);
</script>
<script>
    const driversGroup = document.querySelector('.group-drivers');

    if (driversGroup) {
        const driversGroupCheckbox = driversGroup.querySelector('.group-drivers__checkbox');
        const driversGroupLabel = driversGroup.querySelector('.group-drivers__label');
        const driversGroupHV = document.querySelectorAll('.group-drivers__hide-vis');
        const $galka = $('#checkboxdriver');

        if ($galka.is(':checked')) {
            driversGroupLabel.innerHTML = 'С ВОДИТЕЛЕМ';

            for (let i = 0; i < driversGroupHV.length; i++) {
                driversGroupHV[i].style.display = 'block';
            }

        } else {

            driversGroupLabel.innerHTML = 'БЕЗ ВОДИТЕЛЯ';

            for (let i = 0; i < driversGroupHV.length; i++) {
                driversGroupHV[i].style.display = 'none';
            }
        }

        driversGroupCheckbox.addEventListener('click', () => {
            if (driversGroupCheckbox.checked) {
                driversGroupLabel.innerHTML = 'С ВОДИТЕЛЕМ';
                for (let i = 0; i < driversGroupHV.length; i++) {
                    driversGroupHV[i].style.display = 'block';
                }
            } else {
                driversGroupLabel.innerHTML = 'БЕЗ ВОДИТЕЛЯ';
                for (let i = 0; i < driversGroupHV.length; i++) {
                    driversGroupHV[i].style.display = 'none';
                }
            }
        });
    }


</script>
<script>
    $(document).ready(() => {
        $('.btn--send-message').click(async ()=> {

            const data = {
                id: 1
            };

            if ($('#send_customer_email').is(':checked')){
                data.email = 1;
            }

            if ($('#send_customer_sms').is(':checked')) {
                data.sms = 1;
            }

            ($('#send_customer_email').is(':checked') === false && $('#send_customer_sms').is(':checked') === false) ?
            alert('Не выбрано ни одного поля (sms или email)'):
            await request('/api/carReservations/sendNotify ', data, { showNotify: true });
        });
    });

    //await request('/api/apartmentReservations/sendNotify', { datas }, { showNotify: true });
</script>