<style>
    .js-editable-body .non-editable-content {
        display: block;
    }

    .js-editable-body .editable-content {
        display: none;
    }

    .js-editable-body.editable-on .editable-content {
        display: block;
    }

    .js-editable-body.editable-on .non-editable-content {
        display: none;
    }
</style>

<header class="page-header">
    <h2>Водители</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Водители</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>

<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        {{#each drivers}}
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Добавление нового водителя</h2>
                </header>
                <div class="panel-body js-editable-body">
                    <form action="/api/drivers/update" id="js-drivers-add-form" class="form-horizontal mb-lg"
                        novalidate="novalidate">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">ФИО</label>
                            <div class="non-editable-content" data-target="name">
                                {{this.name }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input name="name" value="{{this.name }}" type="text" class="form-control"
                                    placeholder="Введите данные" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Дата рождения</label>
                            <div class="non-editable-content" data-target="birthday">
                                {{toIsoString this.birthday 'DD.MM.YYYY' }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input name="birthday" type="date" value="{{toIsoString this.birthday 'YYYY-MM-DD' }}"
                                    class="form-control" placeholder="Введите дату" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Контактный телефон</label>
                            <div class="non-editable-content" data-target="contact_number">
                                {{this.contact_number }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input name="contact_number" value="{{this.contact_number }}" id="phone"
                                    data-plugin-masked-input="" data-input-mask="+7 (999) 999-9999"
                                    placeholder="+7 (123) 123-1234" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Водительское удостоверение</label>
                            <div class="non-editable-content" data-target="driver_license">
                                {{this.driver_license }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input name="driver_license" value="{{this.driver_license }}" type="text"
                                    placeholder="12 34 567891" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Дата выдачи</label>
                            <div class="non-editable-content" data-target="license_date_issue">
                                {{toIsoString this.license_date_issue 'DD.MM.YYYY' }}
                            </div>
                            <div class="col-sm-4 editable-content">
                                <input type="date" name="license_date_issue"
                                    value="{{toIsoString this.license_date_issue 'YYYY-MM-DD' }}"
                                    placeholder="Введите дату" class="form-control">
                            </div>
                            <label class="col-sm-2 control-label">окончания</label>
                            <div class="non-editable-content" data-target="license_date_expiration">
                                {{toIsoString this.license_date_expiration 'DD.MM.YYYY'}}
                            </div>
                            <div class="col-sm-4 editable-content">
                                <input type="date" name="license_date_expiration"
                                    value="{{toIsoString this.license_date_expiration 'YYYY-MM-DD' }}"
                                    placeholder="Введите дату" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12 control-label"
                                style="text-transform: uppercase; font-weight: bold; text-align: center;">Паспортные
                                данные</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Серия, номер</label>
                            <div class="non-editable-content" data-target="passport">
                                {{this.passport }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input type="text" name="passport" value="{{this.passport}}" placeholder="12 34 567891"
                                    class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Дата выдачи</label>
                            <div class="non-editable-content" data-target="passport_date_issue">
                                {{toIsoString this.passport_date_issue 'DD.MM.YYYY' }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input type="date" name="passport_date_issue"
                                    value="{{toIsoString this.passport_date_issue 'YYYY-MM-DD'}}"
                                    placeholder="Введите дату" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Кем выдан</label>
                            <div class="non-editable-content" data-target="passport_issued_by">
                                {{this.passport_issued_by }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input type="text" name="passport_issued_by" value="{{this.passport_issued_by}}"
                                    placeholder="Введите данные" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Код подразделения</label>
                            <div class="non-editable-content" data-target="passport_division_code">
                                {{this.passport_division_code }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input type="text" name="passport_division_code" value="{{this.passport_division_code}}"
                                    placeholder="123-456" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Место жительства</label>
                            <div class="non-editable-content" data-target="passport_location">
                                {{this.passport_location }}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <textarea cols="20" name="passport_location" value="{{this.passport_location}}" rows="4"
                                    class="form-control" placeholder="Введите данные"
                                    required>{{this.passport_location}}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12 control-label"
                                style="text-transform: uppercase; font-weight: bold; text-align: center;">Автомобиль</label>
                        </div>
                        <div class="form-group mt-lg drivers-auto editable-content">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-4">
                                <div class="radio-custom">
                                    <input {{ifTrue this.is_individual 'checked' ''}} type="radio" id="radioExample1"
                                        value="1" name="is_individual">
                                    <label for="radioExample1">Личный</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="radio-custom">
                                    <input {{ifTrue this.is_individual '' 'checked'}} type="radio" id="radioExample2" value="0" name="is_individual">
                                    <label for="radioExample2">Закрепленный</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group drivers-auto__car">
                            <label class="col-sm-3 control-label">Автомобиль</label>
                            <div class="non-editable-content" data-target="car_name">
                                {{this.car_name }}
                            </div>
                            <div class="col-sm-9 editable-content">
                                <div class="input-group">
                                    <select name="car_id" class="form-control">
                                        <option value="0" selected disabled>Выберете автомобиль</option>
                                        {{#each ../cars}}
                                            <option {{ifTrue this.selected 'selected' ''}} value="{{this.id}}">
                                                {{this.name}} {{this.model}}</option>
                                        {{/each}}
                                    </select>
                                    <span class="input-group-btn">
                                        <a class="btn btn-primary" href="/cars" type="button">Добавить</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-right editable-content">
                            <button class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                    <div class="col-md-12">
                        <button class="btn btn-primary js-toggleEditable">Редактировать</button>
                        <button data-id="{{id}}" data-target="drivers"
                            class="btn btn-danger js-tableEssence-remove">Удалить</button>
                    </div>
                </div>
            </section>
        {{/each}}
    </div>
</section>
<script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
<script>
    const driversAutoGroup = document.querySelector('.drivers-auto');
    driversAutoGroup.addEventListener('change', function () {
        document.querySelector('.drivers-auto__car').style.display = "block";
    })
</script>