<style>
    .js-editable-body .non-editable-content,
    .style-non-editable {
        display: block;
        padding-top: 7px;
        font-weight: bold;
    }

    .js-editable-body .editable-content {
        display: none;
    }

    .js-editable-body.editable-on .editable-content {
        display: block;
    }

    .js-editable-body.editable-on .non-editable-content {
        display: none;
    }

    .footer-btn-block-resrvation {
        display: flex;
    }

    .footer-resrvation-save-btn {
        margin-right: auto;
    }

    .footer-resrvation-end-btn {
        margin-left: auto;
        margin-right: 10px;
    }
</style>

<header class="page-header">
    <h2>Личный кабинет</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Личный кабинет</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
{{#if show_list}}
    <section class="panel panel-featured panel-featured-primary">
        <header class="panel-heading">
            <h2 class="panel-title">Список работников</h2>
        </header>
        <div class="panel-body">
            <button href="#add-employee" type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-default modal-with-form">
                <i class="fa fa-plus"></i> Добавить сотрудника
            </button>
            <div class="zag">
                <h1>заглушка</h1>
            </div>
            <div class="table-responsive">
                <table id="js-nomenclature-products-table"
                    class="display table table-bordered table-striped table-condensed mb-none customize"
                    style="width:100%; display: none">
                    <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Должность</th>
                            <th>Телефон</th>
                            <th>Подробнее</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each employees}}
                            <tr>
                                <td>{{last_name}} {{first_name}} {{middle_name}}</td>
                                <td>{{post}}</td>
                                <td>{{phone}}</td>
                                <td>
                                    <a href="/cabinet/{{id}}" target="_blank">Подробнее</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ФИО</th>
                            <th>Должность</th>
                            <th>Телефон</th>
                            <th>Подробнее</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <a class="btn btn-primary" href="/cabinet/fired" target="_blank">Список уволенных</a>
    </section>
{{/if}}

<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <h2 class="panel-title">Личная информация</h2>
    </header>

    <div class="panel-body js-editable-body">
        <form action="" id="" class="form-horizontal mb-lg" novalidate="novalidate">
            <div class="form-group">
                <label class="col-md-3 control-label">Аккаунт</label>
                <div class="col-md-6">

                    <div class="non-editable-content" data-target="">
                        {{managerInfo.login}}
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Должность</label>
                <div class="col-md-6">
                    <div class="non-editable-content" data-target="">
                        {{managerInfo.post}}
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Личная</label>
                <div class="col-md-6">
                    <div class="non-editable-content" data-target="fio">
                        {{managerInfo.last_name}} {{managerInfo.first_name}} {{managerInfo.middle_name}}
                    </div>

                    <div class="non-editable-content" data-target="birthday">
                        {{toIsoString managerInfo.birthday 'DD.MM.YYYY'}}
                    </div>


                    <div class="non-editable-content" data-target="">
                        {{managerInfo.phone}}
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>

<!-- Модалки-->

<div id="add-employee" class="modal-block modal-block-primary mfp-hide" style="max-width: 700px;">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Добавление нового сотрудника</h2>
        </header>
        <div class="panel-body">
            <form onsubmit="Employee.submit_form(this); return false;" class="form-horizontal mb-lg" novalidate="novalidate">
                <div class="form-group">
                    <label class="col-md-3 control-label">Аккаунт</label>
                    <div class="col-md-6">
                        <div class="input-group mb-md">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input name="login" type="text" class="form-control" placeholder="Юзернейм">
                        </div>
                        <div class="input-group mb-md">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <input name="password" type="password" class="form-control" placeholder="Пароль">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Должность</label>
                    <div class="col-md-6">
                        <div class="input-group mb-md">
                            <span class="input-group-addon">
                                <i class="fa fa-suitcase"></i>
                            </span>
                            <select name="post" class="form-control">
                                <option value="" disabled selected>Выберите должность</option>
                                <option value="2">Менеджер</option>
                                <option value="1">Старший менеджер</option>
                                <option value="0">Руководитель</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Личная</label>
                    <div class="col-md-6">
                        <div class="input-group mb-md">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input name="last_name" type="text" class="form-control" placeholder="Фамилия">
                        </div>
                        <div class="input-group mb-md">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input name="first_name" type="text" class="form-control" placeholder="Имя">
                        </div>
                        <div class="input-group mb-md">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input name="middle_name" type="text" class="form-control" placeholder="Отчество">
                        </div>
                        <div class="input-group mb-md">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                            <input name="birthday" type="date" class="form-control" placeholder="Дата рождения">
                        </div>
                        <div class="input-group mb-md">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                            <input name="phone" type="text" class="form-control" placeholder="Телефон">
                        </div>

                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary">Подтвердить</button>
                    <button class="btn btn-default modal-dismiss">Отмена</button>
                </div>
            </form>
        </div>
    </section>
</div>
<script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>