<style>
    .js-editable-body .non-editable-content,
    .style-non-editable {
        display: block;
        padding-top: 7px;
        font-weight: bold;
    }

    .js-editable-body .editable-content {
        display: none;
    }

    .js-editable-body.editable-on .editable-content {
        display: block;
    }

    .js-editable-body.editable-on .non-editable-content {
        display: none;
    }

    .footer-btn-block-resrvation {
        display: flex;
    }

    .footer-resrvation-save-btn {
        margin-right: auto;
    }

    .footer-resrvation-end-btn {
        margin-left: auto;
        margin-right: 10px;
    }
</style>

<header class="page-header">
    <h2>Приход денежных средств</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Приход</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Новый документ прихода</h2>
            </header>
            {{#each incomes}}
                <div class="panel-body js-editable-body">
                    <form id="js-incomes-form" action="/api/incomes/update" class="form-horizontal mb-lg"
                        novalidate="novalidate">
                        <input type="hidden" name="id" value="{{id}}">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Дата</label>
                            <div class="non-editable-content" data-target="date">
                                {{toIsoString date 'DD.MM.YYYY'}}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input value="{{toIsoString date 'YYYY-MM-DD'}}" type="date" name="date"
                                    class="form-control" placeholder="Введите дату" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Заказчик</label>
                            <div class="col-sm-8">
                                <div class="non-editable-content" data-target="customer_name">
                                    {{customer_name}}
                                </div>
                                <div class="editable-content">
                                    <select style="width: 100%" name="customer_id">
                                        <option value="" selected disabled>Выберите заказчика из списка</option>
                                        {{#each ../customers}}
                                            <option {{compare id ../customer_id 'selected' ''}} value="{{id}}">{{name}}
                                            </option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Основание</label>
                            <div class="col-sm-8">
                                <div class="style-non-editable">
                                    {{#if document_id}}
                                        <a
                                            href="{{ifTrue link (concat link '/' document_id) 'javascript:void()' }}">{{base}}</a>
                                    {{else}}
                                        <p>{{base}}</p>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Касса / счет</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="non-editable-content" data-target="cashbox_name">
                                        {{cashbox_name}}
                                    </div>
                                    <div class="editable-content">
                                        <select style="width: 100%" name="cash_storage_id"
                                            id="js-incomesForm-cashStorages-view">
                                            <option value="" selected disabled>Выберите кассу / счёт из списка</option>
                                            {{#each ../cashStorages}}
                                                <option {{compare id ../cash_storage_id 'selected' ''}}
                                                    value="{{this.id}}">{{this.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Сумма</label>
                            <div class="non-editable-content" data-target="sum">
                                {{sum}}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <input value="{{sum}}" type="number" name="sum" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Менеджер</label>
                            <div>{{manager_name}}</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Комментарий</label>
                            <div class="non-editable-content" data-target="comment">
                                {{comment}}
                            </div>
                            <div class="col-sm-8 editable-content">
                                <textarea value="{{comment}}" name="comment" cols="20" rows="4" class="form-control"
                                    placeholder="Введите комментарий" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right editable-content">
                            <div class="footer-btn-block-resrvation">
                                <button class="btn btn-success footer-resrvation-save-btn">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            {{/each}}
            <div class="footer-btn-block-resrvation">
                <a href="/api/incomes/print/{{id}}" class="btn btn-default" target="_blank">Печать</a>
                {{#unless item.completed}}
                    <button class="btn btn-primary js-toggleEditable">Редактировать</button>
                    <button data-target="incomes" data-id="{{id}}"
                        class="btn btn-danger js-tableEssence-remove footer-resrvation-end-btn ">Удалить
                        документ</button>
                {{/unless}}
            </div>
        </section>
    </div>
</section>