<header class="page-header">
    <h2>Заказ квартир</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li><span>Заказ квартир</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <h2 class="panel-title">Список заказов квартир</h2>
    </header>
    <div class="panel-body">
        <button href="#add-products" type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-default modal-with-form">
            <i class="fa fa-plus"></i> Создать заказ
        </button>
        <div class="zag">
            <h1>заглушка</h1>
        </div>
        <div class="table-responsive">
            <table id="js-apartment-reservations-table"
                class="display table table-bordered table-striped table-condensed mb-none customize"
                style="width:100%; display: none">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Дата заказа</th>
                        <th>Адрес</th>
                        <th>Клиент</th>
                        <th>Статус</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each apartmentReservations}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{toIsoString this.created_at 'DD.MM.YYYY'}}</td>
                            <td>{{this.address}}</td>
                            <td>{{this.client_name}}</td>
                            <td>{{this.statusName}}</td>
                            <td>
                                <a href="/apartment-reservations/{{this.id}}" target="_blank">Подробнее</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Номер</th>
                        <th>Дата заказа</th>
                        <th>Адрес</th>
                        <th>Клиент</th>
                        <th>Статус</th>
                        <th>Подробнее</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <a class="btn btn-primary" href="/apartment-reservations/archive" target="_blank">Завершенные заявки</a>
</section>

<!-- Модалки-->

<div id="add-products" class="modal-block modal-block-primary mfp-hide" style="max-width: 700px;">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Заявка на бронь квартиры</h2>
        </header>
        <div class="panel-body">
            <form action="/api/apartmentReservations/add" id="js-apartmentReservations-form"
                class="form-horizontal mb-lg" novalidate="novalidate">
                <div class="form-group mt-lg">
                    <label class="col-sm-3 control-label">Заказчик</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select style="width: 100%" id="js-select2-customer-id" name="customer_id"
                                class="form-control">
                                <option value="0" selected disabled>Выберете заказчика</option>
                            </select>
                            <span class="input-group-btn">
                                <a class="btn btn-primary" type="button" href="/customers" target="_blank">Добавить</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Cкидка заказчика, %</label>
                    <div class="col-sm-6">
                        <input class="form-control" name="discount" id="js-customer-discount-input" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Клиент</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select style="width: 100%" id="js-select2-clients-id" name="passenger_id"
                                class="form-control">
                                <option value="0" selected disabled>Выберете клиента</option>
                            </select>
                            <span class="input-group-btn">
                                <a class="btn btn-primary" type="button" href="/clients" target="_blank">Добавить</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Контактный телефон</label>
                    <div class="col-sm-9">
                        <input name="contact_number" data-input-mask="+7 (999) 999-9999" placeholder="+7 (123) 123-1234"
                            class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Квартира</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select style="width: 100%" name="apartment_id" id="js-select2-apartments-id"
                                class="form-control">
                                <option value="0" selected disabled>Выберете Адрес</option>
                            </select>
                            <span class="input-group-btn">
                                <a class="btn btn-primary" type="button" href="/apartments" target="_blank">Добавить</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Цена за сутки, руб.</label>
                    <div class="col-sm-9">
                        <input name="price_per_day" type="number" class="form-control" placeholder="Введите сумму"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Количество суток</label>
                    <div class="col-sm-9">
                        <input name="number_days" type="number" class="form-control" placeholder="Введите количество"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Въезд</label>
                    <div class="col-sm-9">
                        <input name="entry" type="datetime-local" class="form-control" placeholder="Введите время"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Выезд</label>
                    <div class="col-sm-9">
                        <input name="departure" type="datetime-local" class="form-control" placeholder="Введите время"
                            required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Предварительная сумма</label>
                    <div class="col-sm-8">
                        <input name="prepayment" type="text" class="form-control" placeholder="Введите сумму" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Выбор оплаты</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select style="width: 100%" name="cash_storage_id" id="js-select2-cashStorages-id"
                                class="form-control">
                                <option value="0" selected disabled>Выберете способ оплаты</option>
                            </select>
                            <span class="input-group-btn">
                                <a class="btn btn-primary" type="button" href="/cash-storages"
                                    target="_blank">Добавить</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group services-group">
                    <div class="col-sm-12 control-label" style="text-align:center;">
                        <span>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</span>
                    </div>
                    <div class="form-group col-sm-12 services-group__item">
                        <label class="col-sm-3 control-label">Услуга</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select id="js-select2-services-id" style="width: 100%"
                                    class="js-apartmentReservations-services form-control" multiple="multiple"></select>
                                <span class="input-group-btn">
                                    <a class="btn btn-primary" type="button" href="/additional-services"
                                        target="_blank">Добавить</a>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Комментарий</label>
                    <div class="col-sm-9">
                        <textarea name="comment" class="form-control" id="" cols="30" rows="5"
                            placeholder="Введите комментарий"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Общая сумма, руб.</label>
                    <div class="col-sm-9">
                        <input name="sum" type="number" class="form-control" placeholder="Введите сумму" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-success">Принять</button>
                        <button class="btn btn-default modal-dismiss">Отмена</button>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>
<script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>