<style>
    .js-editable-body .non-editable-content {
        display: block;
        padding-top: 7px;
        font-weight: bold;
    }

    .js-editable-body .editable-content {
        display: none;
    }

    .js-editable-body.editable-on .editable-content {
        display: block;
    }

    .js-editable-body.editable-on .non-editable-content {
        display: none;
    }

    .footer-btn-block-resrvation {
        display: flex;
    }

    .footer-resrvation-save-btn {
        margin-right: auto;
    }

    .footer-resrvation-end-btn {
        margin-left: auto;
        margin-right: 10px;
    }
</style>

<header class="page-header">
    <h2>Заказ квартир</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li>
                <span>Заказ квартир</span>
                <span class="separator"></span>
            </li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        {{#each apartmentReservations}}
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Редактирование заявки</h2>
                </header>
                <div class="panel-body js-editable-body">
                    <form action="/api/apartmentReservations/update" id="js-apartmentReservations-form"
                        class="form-horizontal mb-lg" novalidate="novalidate">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <div class="form-group mt-lg">
                            <label class="col-sm-3 control-label">Заказчик</label>
                            <div class="col-sm-9">
                                <div style="width: 100%" class="input-group">
                                    <div class="non-editable-content" data-target="customer_name">
                                        {{this.customer_name}}
                                    </div>
                                    <div class="editable-content">
                                        <select style="width: 100%" name="customer_id" value="{{this.customer_id}}"
                                            class="form-control js-select2-init">
                                            <option value="0" selected disabled>Выберете заказчика</option>
                                            {{#each ../customers}}
                                                <option {{ifTrue this.selected 'selected' ''}} value="{{this.id}}">
                                                    {{this.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Cкидка заказчика</label>
                            <div class="non-editable-content" data-target="discount">
                                {{this.discount}}
                            </div>
                            <div class="col-sm-6 editable-content">
                                <input class="form-control" value="{{this.discount}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Клиент</label>
                            <div class="col-sm-9">
                                <div style="width: 100%" class="input-group">
                                    <div class="non-editable-content" data-target="client_name">
                                        {{this.client_name}}
                                    </div>
                                    <div class="editable-content">
                                        <select style="width: 100%" name="passenger_id" class="form-control"
                                            id="js-select2-clients-id">
                                            <option value="0" selected disabled>Выберете пассажира</option>
                                            {{#each ../passengers}}
                                                <option {{ifTrue this.selected 'selected' ''}} value="{{this.id}}">
                                                    {{this.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Контактный телефон</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="non-editable-content" data-target="client_number">
                                        {{this.client_number}}
                                    </div>
                                    <div class="editable-content">
                                        <input value="{{this.client_number}}" name="contact_number"
                                            data-input-mask="+7 (999) 999-9999" placeholder="+7 (123) 123-1234"
                                            class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Квартира</label>
                            <div class="col-sm-9">
                                <div style="width: 100%" class="input-group">
                                    <div class="non-editable-content" data-target="address">
                                        {{this.address}}
                                    </div>
                                    <div class="editable-content">
                                        <select style="width: 100%" name="apartment_id" class="form-control"
                                            id="js-select2-apartments-id">
                                            <option value="0" selected disabled>Выберете Адрес</option>
                                            {{#each ../apartments}}
                                                <option {{ifTrue this.selected 'selected' : ''}} value="{{this.id}}">
                                                    {{this.address}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Цена за сутки, руб.</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="price_per_day">
                                    {{this.price_per_day}}
                                </div>
                                <div class="editable-content">
                                    <input value="{{this.price_per_day}}" name="price_per_day" type="number"
                                        class="form-control" placeholder="Введите сумму" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Количество суток</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="number_days">
                                    {{this.number_days}}
                                </div>
                                <div class="editable-content">
                                    <input value="{{this.number_days}}" name="number_days" type="number"
                                        class="form-control" placeholder="Введите количество" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Въезд</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="entry">
                                    {{toIsoString this.entry 'DD.MM.YYYY в HH:mm'}}
                                </div>
                                <div class="editable-content">
                                    <input value="{{toIsoString this.entry 'YYYY-MM-DDTHH:mm'}}" name="entry"
                                        type="datetime-local" class="form-control" placeholder="Введите время" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Выезд</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="departure">
                                    {{toIsoString this.departure 'DD.MM.YYYY в HH:mm'}}
                                </div>
                                <div class="editable-content">
                                    <input value="{{toIsoString this.departure 'YYYY-MM-DDTHH:mm'}}" name="departure"
                                        type="datetime-local" class="form-control" placeholder="Введите время" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Предварительная сумма</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="prepayment">
                                    {{this.prepayment}}
                                </div>
                                <div class="editable-content">
                                    <input value="{{this.prepayment}}" name="prepayment" type="text"
                                        class="form-control" placeholder="Введите сумму" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group services-group">
                            <div class="col-sm-12 control-label" style="text-align:center;">
                                <span>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</span>
                            </div>
                            {{#each ../additionalServices}}
                                <div class="form-group col-sm-12 services-group__item">
                                    <label class="col-sm-3 control-label">Услуга</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="non-editable-content" data-target="name">
                                                {{this.name}}
                                            </div>
                                            <div class="editable-content">
                                                <select class="js-apartmentReservations-services form-control">
                                                    <option value="0" selected disabled>Выберете услугу</option>
                                                    {{#each ../../servicesList}}
                                                        <option {{ifTrue ../selected 'selected' ''}} value="{{../id}}">
                                                            {{../name}}</option>
                                                    {{/each}}
                                                </select>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button">Добавить</button>
                                                </span>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-warning adding-item" type="button">+</button>
                                                </span>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-danger deliting-item"
                                                        type="button">-</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Комментарий</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="comment">
                                    {{this.comment}}
                                </div>
                                <div class="editable-content">
                                    <textarea name="comment" class="form-control" id="" cols="30" rows="5"
                                        placeholder="Введите комментарий">{{this.comment}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Общая сумма, руб.</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="sum">
                                    {{this.sum}}
                                </div>
                                <div class="editable-content">
                                    <input value="{{this.sum}}" name="sum" type="number" class="form-control"
                                        placeholder="Введите сумму" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Статус</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="status_name">
                                    {{this.status_name}}
                                </div>
                                <div class="editable-content">
                                    <div class="checkbox-custom checkbox-warning col-sm-3">
                                        <input {{ifTrue this.nonEditable 'checked disabled' ''}} value="2"
                                            type="checkbox" name="status" id="checkboxExample4">
                                        <label for="checkboxExample4">На приеме</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-right editable-content">
                            <div class="footer-btn-block-resrvation">
                                <button class="btn btn-success footer-resrvation-save-btn">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="footer-btn-block-resrvation">
                    {{#unless this.completed}}
                        <button class="btn btn-primary js-toggleEditable">Редактировать</button>
                        <button data-id="{{id}}" id="js-apartmentReserv-view-complete"
                            class="btn btn-danger footer-resrvation-end-btn">Завершить</button>
                    {{/unless}}
                    <button data-id="{{id}}" data-target="apartmentReservations" class="btn btn-danger js-tableEssence-remove">Удалить
                        заявку</button>
                </div>
            </section>
        {{/each}}

    </div>
</section>

<script>
    var btnAddProduct = document.querySelector('.adding-item');
    var btnDeleteProduct = document.querySelector('.deliting-item');
    var table = document.querySelector('.services-group');

    function insRow() {
        var target = event.target;
        var grItem = table.querySelectorAll('.services-group__item');
        var new_row = grItem[0].cloneNode(true);
        new_row.querySelector('.adding-item').addEventListener('click', insRow);

        var dateInp = new_row.querySelectorAll('input');
        for (var i = 0; i < dateInp.length; i++) {
            dateInp[i].value = '';
        }

        table.appendChild(new_row);
    }

    function delRow() {
        var target = event.target;
        var closeBtn = target.closest('.deliting-item');
        if (!closeBtn) return;

        var grItem = table.querySelectorAll('.services-group__item');
        var actualTbody = grItem.length;
        if (actualTbody == 1) {
            return;
        } else {
            indexRow = closeBtn.parentNode.parentNode.parentNode.parentNode.remove();
        }
    }

    btnAddProduct.addEventListener('click', insRow);

    table.addEventListener('click', delRow);
</script>
<script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>