<style>
    .js-editable-body .non-editable-content,
    .style-non-editable {
        display: block;
        padding-top: 7px;
        font-weight: bold;
    }

    .js-editable-body .editable-content {
        display: none;
    }

    .js-editable-body.editable-on .editable-content {
        display: block;
    }

    .js-editable-body.editable-on .non-editable-content {
        display: none;
    }

    .footer-btn-block-resrvation {
        display: flex;
    }

    .footer-resrvation-save-btn {
        margin-right: auto;
    }

    .footer-resrvation-end-btn {
        margin-left: auto;
        margin-right: 10px;
    }

    .reservation-send-block {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }

    .reservation-send-block--child {
        margin: auto 10px auto 10px;
    }


    .reservation-send-btn {
        margin-left: 20px;
    }
</style>

<header class="page-header">
    <h2>Заказ квартир</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li>
                <span>Заказ квартир</span>
                <span class="separator"></span>
            </li>
        </ol>
    </div>
</header>
<section class="panel panel-featured panel-featured-primary">
    <div class="panel-body">
        {{#each apartmentReservations}}
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Редактирование заявки</h2>
                </header>
                <div class="panel-body js-editable-body">
                    <form action="/api/apartmentReservations/update" id="js-apartmentReservations-form"
                        class="form-horizontal mb-lg" novalidate="novalidate">
                        <input type="hidden" name="id" class="hidden-id-apartment" value="{{this.id}}">
                        <div class="form-group mt-lg">
                            <label class="col-sm-3 control-label">Заказчик</label>
                            <div class="col-sm-9">
                                <div style="width: 100%" class="input-group">
                                    <div class="non-editable-content" data-target="customer_name">
                                        {{this.customer_name}}
                                    </div>
                                    {{#if can_edit}}
                                        <div class="editable-content">
                                            <select style="width: 100%" name="customer_id" value="{{this.customer_id}}"
                                                class="form-control js-select2-init">
                                                <option value="0" selected disabled>Выберете заказчика</option>
                                                {{#each ../customers}}
                                                    <option {{ifTrue this.selected 'selected' ''}} value="{{this.id}}">
                                                        {{this.name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Cкидка заказчика</label>
                            <div class="non-editable-content" data-target="discount">
                                {{this.discount}}
                            </div>
                            {{#if can_edit}}
                                <div class="col-sm-6 editable-content">
                                    <input class="form-control" value="{{this.discount}}">
                                </div>
                            {{/if}}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Клиент</label>
                            <div class="col-sm-9">
                                <div style="width: 100%" class="input-group">
                                    <div class="non-editable-content" data-target="client_name">
                                        {{this.client_name}}
                                    </div>
                                    {{#if can_edit}}
                                        <div class="editable-content">
                                            <select style="width: 100%" name="passenger_id" class="form-control"
                                                id="js-select2-clients-id">
                                                <option value="0" selected disabled>Выберете пассажира</option>
                                                {{#each ../passengers}}
                                                    <option {{ifTrue this.selected 'selected' ''}} value="{{this.id}}">
                                                        {{this.name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Количество гостей (включая клиента)</label>
                            <div class="col-sm-7">
                                <div class="non-editable-content" data-target="number_of_clients">
                                    {{this.number_of_clients}}
                                </div>
                                {{#if can_edit}}
                                    <div class="editable-content">
                                        <input value="{{this.number_of_clients}}" type="number" name="number_of_clients"
                                            class="form-control" placeholder="Введите количество гостей" required>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Контактный телефон клиента</label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <div class="non-editable-content" data-target="client_number">
                                        {{this.client_number}}
                                    </div>
                                    {{#if can_edit}}
                                        <div class="editable-content">
                                            <input value="{{this.client_number}}" name="contact_number"
                                                data-input-mask="+7 (999) 999-9999" placeholder="+7 (123) 123-1234"
                                                class="form-control" required>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Квартира</label>
                            <div class="col-sm-9">
                                <div style="width: 100%" class="input-group">
                                    <div class="non-editable-content" data-target="address">
                                        {{this.address}}
                                    </div>
                                    {{#if can_edit}}
                                        <div class="editable-content">
                                            <select style="width: 100%" name="apartment_id" class="form-control"
                                                id="js-select2-apartments-id">
                                                <option value="0" selected disabled>Выберете Адрес</option>
                                                {{#each ../apartments}}
                                                    <option {{ifTrue this.selected 'selected' : ''}}
                                                        value="{{this.id}}">
                                                        {{this.address}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Цена за сутки, руб.</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="price_per_day">
                                    {{this.price_per_day}}
                                </div>
                                {{#if can_edit}}
                                    <div class="editable-content">
                                        <input value="{{this.price_per_day}}" name="price_per_day" type="number"
                                            class="form-control" placeholder="Введите сумму" required>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Количество суток</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="number_days">
                                    {{this.number_days}}
                                </div>
                                {{#if can_edit}}
                                    <div class="editable-content">
                                        <input value="{{this.number_days}}" name="number_days" type="number"
                                            class="form-control" placeholder="Введите количество" required>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Въезд</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="entry">
                                    {{toIsoString this.entry 'DD.MM.YYYY в HH:mm'}}
                                </div>
                                {{#if can_edit}}
                                    <div class="editable-content">
                                        <input value="{{toIsoString this.entry 'YYYY-MM-DDTHH:mm'}}" name="entry"
                                            type="datetime-local" class="form-control" placeholder="Введите время"
                                            required>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Выезд</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="departure">
                                    {{toIsoString this.departure 'DD.MM.YYYY в HH:mm'}}
                                </div>
                                {{#if can_edit}}
                                    <div class="editable-content">
                                        <input value="{{toIsoString this.departure 'YYYY-MM-DDTHH:mm'}}"
                                            name="departure" type="datetime-local" class="form-control"
                                            placeholder="Введите время" required>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Предварительная сумма</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="prepayment">
                                    {{this.prepayment}}
                                </div>
                                {{#if can_edit}}
                                    <div class="editable-content">
                                        <input value="{{this.prepayment}}" name="prepayment" type="text"
                                            class="form-control" placeholder="Введите сумму" required>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Менеджер</label>
                            <div class="col-sm-9 style-non-editable">
                                <div>{{manager_name}}</div>
                            </div>
                        </div>
                        <div class="form-group services-group">
                            <div class="col-sm-12 control-label" style="text-align:center;">
                                <span>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</span>
                            </div>
                            {{#each ../additionalServices}}
                                <div class="form-group col-sm-12 services-group__item">
                                    <label class="col-sm-3 control-label">Услуга</label>
                                    <div class="col-sm-9">
                                        <div class="non-editable-content" data-target="name">
                                            {{this.name}}
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                            {{#if can_edit}}
                                <div class="editable-content">
                                    {{#each ../additionalServices as |selectedService|}}
                                        <div class="input-group">
                                            <select name="services"
                                                class="js-apartmentReservations-services form-control">
                                                <option value="" disabled selected>Выберите услугу</option>
                                                {{#each ../../servicesList}}
                                                    <option {{compare selectedService.id id 'selected' ''}}
                                                        value="{{id}}">{{name}}</option>
                                                {{/each}}
                                            </select>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default adding-item" type="button">+</button>
                                            </span>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default deliting-item" type="button">-</button>
                                            </span>
                                        </div>
                                    {{/each}}
                                    <div class="input-group">
                                        <select name="services" class="js-apartmentReservations-services form-control">
                                            <option value="" disabled selected>Выберите услугу</option>
                                            {{#each ../servicesList}}
                                                <option value="{{id}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default adding-item" type="button">+</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default deliting-item" type="button">-</button>
                                        </span>
                                    </div>
                                </div>
                            {{/if}}
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Комментарий</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="comment">
                                    {{this.comment}}
                                </div>
                                {{#if can_edit}}
                                    <div class="editable-content">
                                        <textarea name="comment" class="form-control" id="" cols="30" rows="5"
                                            placeholder="Введите комментарий">{{this.comment}}</textarea>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Общая сумма, руб.</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="sum">
                                    {{this.sum}}
                                </div>
                                {{#if can_edit}}
                                    <div class="editable-content">
                                        <input value="{{this.sum}}" name="sum" type="number" class="form-control"
                                            placeholder="Введите сумму" required>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Статус</label>
                            <div class="col-sm-9">
                                <div class="non-editable-content" data-target="status_name">
                                    {{this.status_name}}
                                </div>
                                {{#if can_edit}}
                                    <div class="editable-content">
                                        <div class="checkbox-custom checkbox-warning col-sm-3">
                                            <input {{ifTrue this.nonEditable 'checked disabled' ''}} value="2"
                                                type="checkbox" name="status" id="checkboxExample4">
                                            <label for="checkboxExample4">На приеме</label>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                        {{#if can_edit}}
                            <div class="col-md-12 text-right editable-content">
                                <div class="footer-btn-block-resrvation">
                                    <button class="btn btn-success footer-resrvation-save-btn">Сохранить</button>
                                </div>
                            </div>
                        {{/if}}
                    </form>
                    <div class="form-group non-editable-content">
                        <label class="col-sm-4 control-label">Отправить сообщение заказчику через:</label>
                        <div class="col-sm-8 reservation-send-block">
                            <div class="checkbox-custom chekbox-primary reservation-send-block--child">
                                <input class="send-customer__checkbox" type="checkbox" checked name="send_customer_mail"
                                    value="1" id="send_customer_email">
                                <label class="send-customer__label" for="send_customer_email">EMAIL</label>
                            </div>
                            <div class="checkbox-custom chekbox-primary reservation-send-block--child">
                                <input class="send-customer____checkbox" type="checkbox" name="send_customer_sms"
                                    value="2" id="send_customer_sms">
                                <label class="send-customer____label" for="send_customer_sms">SMS</label>
                            </div>
                            <div class="reservation-send-btn">
                                <button class="btn btn-warning btn--send-message">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-btn-block-resrvation">
                    {{#if can_edit}}
                        <button class="btn btn-primary js-toggleEditable">Редактировать</button>
                    {{/if}}
                    {{#unless this.completed}}
                        <button data-id="{{id}}" id="js-apartmentReserv-view-complete"
                            class="btn btn-danger footer-resrvation-end-btn">Завершить</button>
                    {{/unless}}
                    <button data-id="{{id}}" data-target="apartmentReservations"
                        class="btn btn-danger js-tableEssence-remove">Удалить
                        заявку</button>
                </div>
            </section>
        {{/each}}

    </div>
</section>

<script>
    $(document).ready(() => {
        $('.btn--send-message').click(async () => {
            let ID = $('.hidden-id-apartment').val();
            const data = {
                id: ID
            };

            if ($('#send_customer_email').is(':checked')) {
                data.email = 1;
            }

            if ($('#send_customer_sms').is(':checked')) {
                data.sms = 1;
            }

            if ($('#send_customer_email').is(':checked') === false && $('#send_customer_sms').is(':checked') === false) {
                alert('Не выбрано ни одного поля (sms или email)');
                return;
            }

            const { errors } = await request('/api/apartmentReservations/sendNotify ', data);

            if (errors) {
                new PNotify({
                    title: 'Ошибка',
                    text: errors,
                    icon: 'fa fa-user',
                    shadow: true,
                    delay: 1000,
                    buttons: {
                        closer: false,
                        sticker: false
                    }
                });
            } else {
                new PNotify({
                    title: 'Успешно',
                    text: 'Отправлено',
                    type: 'success',
                    shadow: true,
                    delay: 1000,
                    buttons: {
                        closer: false,
                        sticker: false
                    }
                });
            }
        });
    });
</script>

<script>
    var btnAddProduct = document.querySelector('.adding-item');
    var btnDeleteProduct = document.querySelector('.deliting-item');
    var table = document.querySelector('.services-group');

    function insRow() {
        var target = event.target;
        var grItem = table.querySelectorAll('.services-group__item');
        var new_row = grItem[0].cloneNode(true);
        new_row.querySelector('.adding-item').addEventListener('click', insRow);

        var dateInp = new_row.querySelectorAll('input');
        for (var i = 0; i < dateInp.length; i++) {
            dateInp[i].value = '';
        }

        table.appendChild(new_row);
    }

    function delRow() {
        var target = event.target;
        var closeBtn = target.closest('.deliting-item');
        if (!closeBtn) return;

        var grItem = table.querySelectorAll('.services-group__item');
        var actualTbody = grItem.length;
        if (actualTbody == 1) {
            return;
        } else {
            indexRow = closeBtn.parentNode.parentNode.parentNode.parentNode.parentNode.remove();
        }
    }

    btnAddProduct.addEventListener('click', insRow);

    table.addEventListener('click', delRow);
</script>

<script src="/assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>