<header class="page-header">
    <h2>Зарплатная ведомость</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-file-text-o"></i>
                </a>
            </li>
            <li><span>Ведомость</span> <span class="separator"></span></li>
        </ol>
    </div>
</header>

<section class="panel panel-featured panel-featured-primary">
    <header class="panel-heading">
        <h2 class="panel-title">Сохраненные документы ведомостей по з/п</h2>
    </header>
    <div class="panel-body">
        <div class="zag">
            <h1>заглушка</h1>
        </div>
        <div class="table-responsive">
            <table id="js-salaryStatement-listTable" class="display table table-bordered table-striped table-condensed mb-none customize"
                style="width:100%; display: none;">
                <thead>
                    <tr>
                        <th>Дата формирования</th>
                        <th>Номер</th>
                        <th>Водитель</th>
                        <th>Сумма</th>
                        <th>Подробнее</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each reports}}
                        <tr>
                            <td>{{toIsoString created_at 'DD.MM.YYYY'}}</td>
                            <td>{{id}}</td>
                            <td>{{ifTrue driver_name driver_name 'По всем водителям'}}</td>
                            <td>{{sum}}</td>
                            <td>
                                <a href="/salary-statement/{{id}}" target="_blank">Подробнее</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Дата формирования</th>
                        <th>Номер</th>
                        <th>Заказчик</th>
                        <th>Сумма</th>
                        <th>Подробнее</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<section class="panel panel-primary">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>
        <h2 class="panel-title">Формирование ведомости</h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed mb-none customize">
                <thead>
                    <tr>
                        <th colspan="9">
                            <div class="date-header">
                                <span>Отчет с</span>
                                <input id="js-salaryStatement-leftDate" type="date"
                                    class="form-control date-from js-salaryStatement-loadTable">
                                <span>по </span>
                                <input id="js-salaryStatement-rightDate" type="date"
                                    class="form-control date-to js-salaryStatement-loadTable">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="9">
                            <div class="date-header">
                                <select id="js-salaryStatement-driver" name="driver_id"
                                    class="form-control js-salaryStatement-loadTable js-select2-init" data-ajax="/api/drivers/select2">
                                    <option value="">По всем водителям</option>
                                    {{#each drivers}}
                                        <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="9">
                            <button class="btn btn-primary js-salaryStatement-accept">Сформировать</button>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="9">
                            <button class="js-salaryStatement-save btn btn-success">Сохранить</button>
                            <button class="js-salaryStatement-print btn btn-info">Распечатать</button>
                            <button class="js-salaryStatement-cancel btn btn-default">Отмена</button>
                        </th>
                    </tr>
                </thead>
                <tbody id="js-salaryStatement-table">
                    {{> salary-table}}
                </tbody>
            </table>
        </div>
    </div>
</section>
<script src="/assets/javascripts/salary-statement.js" defer></script>